[2018-06-12 00:15] SOFSPEEL opened #1 "unsetOidcAuth method not clearing tokens properly"
In file https://github.com/perarnborg/vuex-oidc/blob/2724bfeffc6988bce991a49a1b04a28fc1ce4c10/src/store/create-store-module.js

`
unsetOidcAuth (state) {
state.token = null
state.token = null
}
`

Should be changed to:
`
unsetOidcAuth (state) {
state.id_token = null
state.access_token = null
}
`

[2018-06-12 08:02] perarnborg commented on #1
@SOFSPEEL Cheers, this will be fixed within short!

[2018-06-12 08:05] #1 closed

[2018-06-12 08:06] perarnborg commented on #1
Fixed in version 1.5.4

[2018-06-15 16:17] alexlvovich opened #3 "Not redirecting to authority"
setup according to readme file but no link is redirect redirected to authority's page. please help
[web.zip](https://github.com/perarnborg/vuex-oidc/files/2106815/web.zip)

[2018-06-16 09:49] perarnborg commented on #3
@alexlvovich Your issue should be fixed in v1.5.7. Please reopen issue if that is not the case.

[2018-06-16 09:49] #3 closed

[2018-06-16 16:19] thoraj opened #5 "How to get access token"
Thanks for sharing how to combine vuex and oidc-client. This is really helpful.

When making calls to protected apis, how do I get the access_token from the store?

Are there some getters missing in the store, or are we supposed to "extend" the store ourselves to access more of the state?

[2018-06-16 17:03] perarnborg commented on #5
@thoraj Thanks for your input! Currently there is a getter for the user, but not for access_token (or id_token). For consistency, I will add getter oidcAccessToken and oidcIdToken. I will deliver a patch with these, hopefully this weekend.

In the meantime, you can access the access_token with

store.state.oidcStore.access_token

Or, with mapState if you are in a component.

[2018-06-16 17:06] thoraj commented on #5
Thanks for your quick reply.

Digging into the state as you suggested works OK. I will change to using the getter once it is place.

Thanks.

[2018-06-16 19:13] perarnborg commented on #5
Getters for access_token and id_token are added in v1.5.8. See API section of the wiki.

[2018-06-16 19:13] #5 closed

[2018-06-16 19:34] alexlvovich commented on #3
@perarnborg, it works thanks a lot for a quick fix.

[2018-07-16 13:01] raduen opened #6 "Use with Quasar starter pack"
Hello,

Is thier een way to use this with Quasar starter pack?

I'm having trouble understanding how to...

Gr,
Raduen

[2018-08-12 17:57] perarnborg commented on #6
@raduen I do not have any experience of Quasar, so I am not sure of how you would implement vuex-oidc with Quasar.

That being said my guess is that as long as you use Vuex for state management and the Vue router you should be able to use it... What kind of problems are you having?

[2018-09-18 14:53] patrickmonteiro commented on #6
To work in Quasar I had to do:

![image](https://user-images.githubusercontent.com/13258255/45696199-6d889e00-bb39-11e8-87f4-275e56ba2a7d.png)

[2018-09-18 22:04] patrickmonteiro opened #7 "oidcSignInCallback don't work Quasar."
When triggering an oidcSignInCallback action the state error is generated.

![image](https://user-images.githubusercontent.com/13258255/45719096-9e86c400-bb75-11e8-8ab9-a33b0d7d7605.png)

![image](https://user-images.githubusercontent.com/13258255/45719041-7eef9b80-bb75-11e8-946d-c9b4709e4701.png)

[2018-10-10 09:03] perarnborg commented on #7
Sorry for a slow response. Can you see what happens in the browser/app before the error occures? Do you get redirected to the authentication server?

On what plattform are you rymning your app, web or device app?

[2018-10-10 09:05] perarnborg commented on #6
I am closing this issue since it seams stale. Issue #7 is also touching Quasar implementation and remains open.

[2018-10-10 09:05] #6 closed

[2018-10-10 09:07] perarnborg commented on #7
@patrickmonteiro if you are interested in this still and want to share (some of) your code I can take a look.

[2018-10-10 13:58] patrickmonteiro commented on #7
@perarnborg  as I could not implement with quasar, I ended up making an adaptation with the plugin oidc-client.js.
You can look at my github the basic structure I created: [https://github.com/patrickmonteiro/quasarOidcClient](https://github.com/patrickmonteiro/quasarOidcClient)

As I matured my knowledge in OIDC, I can help you adapt your plugin to quasar too soon.

[2018-10-10 19:33] perarnborg commented on #7
Sure, any help you want to send my way is welcome!

And thanks for catching the mistake in my docs in #6 , it is corrected adjusted now!

[2018-10-13 06:57] tommed opened #8 "Update wiki to include filenames"
Great project, looking forward to using it.

From someone looking at it clean though, I think the wiki documentation would be a lot easier to follow if you provided the filenames of each code example above them?

Obviously Vue.Js is quite flexible about storing files, but just getting something working from scratch - it would be nice to follow exactly your working version, then change it to fit th

[2018-10-13 17:47] perarnborg commented on #8
Right, I have tried to keep everything not opinionated, so file structure is not anything that realt matters.

But one thing I imagine would be helpful is to have a complete example implementation for refererence. I will provide that and refer to it in the docs, thanks for the input!

[2018-10-19 10:59] SoroTrestal opened #9 "User not redirecting to IS4 when token is expired"
Hello, in the original sample of oidc when you remove the entry from the local storage.
The sample would redirect you to IS  is this also possible with your implementation?

Also when my session does expire,i have to manualy refresh my page to let it redirect to IS.

Or am I doing something wrong?

Thank you.

[2018-10-19 12:06] SoroTrestal opened #10 "Vue-CLI3 IE11 issue"
Hello when I start a new project with Vue-CLI3, my app does not work in IE11.

I tried setting up your sample project and this also does not work in IE11 (blank page).

![image](https://user-images.githubusercontent.com/22880426/47281315-c0db8980-d5da-11e8-8b69-efa753fb88c7.png)

Regards

[2018-10-19 20:36] perarnborg commented on #9
@SoroTrestal You have to setup automatic silent renew to get the behaviour where the token is renewed before it expires.

https://github.com/perarnborg/vuex-oidc/wiki#9-optional-setup-silent-renew-callback

Perhaps it could be the nice to redirect the user to authentication if the token expires on a non public route. However I do not feel certain that this is a behavior that everyone would want. S

[2018-10-22 11:00] perarnborg commented on #10
@SoroTrestal This should be resolved in v1.8.0, please update and test again.

A note on this subject: The plugin uses Object.assign and Promise, and does not ship with any polyfills.

I am considering to stop using Object.assign (will probably do so within short), but since vuex already requires Promise I will be keeping Promise.

[2018-10-22 15:40] SoroTrestal commented on #10
@perarnborg great thank you, I have tested it and at first a received a different error (but this was due the missing of the polyfills you mentioned)

![image](https://user-images.githubusercontent.com/22880426/47301949-84328100-d620-11e8-98a5-f6ab544c53c1.png)

After adding the code in created event of my App (I think these are ones you are using):

`var o = Object.assign({}, "defaultOidcConfig",

[2018-10-23 07:11] perarnborg commented on #10
OK!

I think it is a better option for me to ship transpiled code as long as vue and vuex does so.

I will keep the Promise prerequisite since vuex already has it, but will refactor so Object.assign is not required.

I’ll keep this issue open until that work is done.

[2018-10-23 07:14] perarnborg commented on #9
@SoroTrestal could you elaborate on what you mean when you say the original sample of oidc and the issue where you remove the entry from local storage?

[2018-10-23 08:33] SoroTrestal commented on #9
This would be handy indeed, right now I can keep switching routes.

I meant if a user would clear his browser cache (for some reason), or manually remove the item from the localStorage, I was trying to simulate this.
In the original sample there's allready some sort of mechanism that polls the token and redirects you (or if you would visit a different route that requires authentication).

[2018-10-23 12:03] perarnborg commented on #9
You can try v1.9.0 where a check of token expiration is added.

Just one thing: what are you referring to when you say "the original sample"?

[2018-10-23 14:17] coolhome opened #11 "[Improvement] [Wiki] - Use standard response_type"
I think the oidc settings in the wiki should contain a standard `response_type`. It can be confusing to new people to OIDC

Example:
Going from this:
[code]

To something like this:
[code]

Great project btw, love how easy it to integrate into existing applications.

[2018-10-23 14:20] coolhome opened #12 "[Feature Request] [Minor Improvement] Typescript Typings"
I personally would benefit from having typescript type definitions for `vuex-oidc`.

If I ever get around to making it I will submit a PR 👍

[2018-10-23 15:09] SoroTrestal commented on #9
From the oidc wiki there's a link to a vue.js implementation [test project](https://github.com/joaojosefilho/vuejsOidcClient)

[2018-10-23 17:06] coolhome opened #13 "[Bug] Store being namespace causes 'unknown action type: oidcCheckAccess'"
With the store being namespaced like:

[code]

The router middleware will fail to properly dispatch `oidcCheckAccess` from https://github.com/perarnborg/vuex-oidc/blob/master/src/router/create-router-middleware.js#L3 because the store is namespaced. In this example, if I dispatch `oidcStore/oidcCheckAccess` or turn off namespaced then the library works perfectly! When namespaced is enabled, I woul

[2018-10-25 10:29] perarnborg commented on #13
@coolhome Thank you for testing! I have completely overseen this!

As of v1.9.1 you can pass a second argument to vuexOidcCreateRouterMiddleware when setting up the router with the namespace string.

See docs in https://github.com/perarnborg/vuex-oidc/wiki#4-setup-vue-router

(Your link to the source code also points to where the change is made)

[2018-10-25 10:31] perarnborg commented on #12
Thanks for the input! I am not a TypeScript user so I will probably not get around to doing this any time soon, but a PR would be welcome!

[2018-10-25 10:32] perarnborg commented on #11
Good point! wiki is updated!

[2018-10-25 10:32] #11 closed

[2018-10-25 10:41] perarnborg commented on #13
@coolhome I am sorry, that should be v1.9.2

[2018-10-25 10:54] perarnborg commented on #8
The wiki now has links to an example setup project. The documentation could be improved further obviously, help and suggestions are welcome!

[2018-10-25 10:54] #8 closed

[2018-10-25 12:00] perarnborg commented on #10
Object.assign is not required in v1.9.3

[2018-10-25 12:00] #10 closed

[2018-10-25 12:34] coolhome commented on #13
@perarnborg Thanks for fixing this. I had the same idea for how to pass the namespace in.

[2018-10-25 12:39] perarnborg commented on #13
Awesome, thanks for helping!

[2018-10-25 12:39] #13 closed

[2018-10-25 14:02] perarnborg commented on #9
@SoroTrestal There is an example of a setup with automatic silent renew in https://github.com/perarnborg/vuex-oidc-example

Right now the vuex-oidc getters will check if the tokens expiry time has exeeded and will return null (and oidcIsAuthenticated will be false), but there is no continuous interval check of the token, you can always set that up yourself in your app.

oidc-client, which vuex-oid

[2018-10-26 06:59] SoroTrestal commented on #9
@perarnborg, Ok thank you very much, I will check it out.

[2018-10-26 11:03] tommed opened #14 "How to get working with vue cli 3?"
I've noticed the example uses webpack and separates the silent renewal from the main SPA.

Is there anyway to get silent renew working inside the one SPA? I've tried with the routing flags:

### router.js

[code]

### OidcSilentRefresh.vue

[code]

But the access token never seems to get updated. I will produce a simple reproducable example repo and post a link to it in this ticket to show the sil

[2018-10-26 11:35] tommed commented on #14
https://github.com/VigilantApps/vuexoidc-silent-renewal-example

[2018-10-26 12:18] perarnborg commented on #14
@tommed I see why you would want to do this, but I also think that it could be hard to acheive (and possibly not even desirable). Since the request to the silent renew callback will be made in an iframe the whole vue app would load inside the iframe, including creation of the vuex store. When the vuex store is created in the app instance in the iframe an oidc user manager will be created and I thi

[2018-10-26 13:47] tommed commented on #14
Thanks @perarnborg. I'm not precious about the silent file being part of the SPA at all, although I'm not sure I understand the flow from this page enough to understand how it would pass the access token back to the parent page in order for vuex to complete.

In the situation you described, would the static page simply refer to its own copy of oidc-client.js and simple finish the callback itself?

[2018-10-26 14:04] tommed commented on #14
This branch shows the use of a static file, but it appears to still result in a redirect loop?

https://github.com/VigilantApps/vuexoidc-silent-renewal-example/tree/alternative/static_silent_page

[2018-10-26 15:21] SoroTrestal commented on #9
@perarnborg Sweet feature, thanks. one other thing I noticed is that oidcIsAuthenticated never gets set to false (the exp date is always Sun Jan 18 1970 20:56:07), perhaps I'm missing some setting in IS.

[2018-10-28 14:19] perarnborg commented on #14
At first glance I think the problem can be that you are calling the UserManager constructor without any settings, like authority and client id (https://github.com/IdentityModel/oidc-client-js/wiki#configuration).

You can fond these settings in you oidc config (https://github.com/VigilantApps/vuexoidc-silent-renewal-example/blob/alternative/static_silent_page/src/oidc-config.js).

[2018-10-28 14:40] perarnborg commented on #9
That sounds strange. Would you care to share some code?

[2018-10-29 09:30] tommed commented on #14
This was in-line with the oidc-client examples (which use `new UserManager().signinSilentCallback()`) and according to [the code](https://github.com/IdentityModel/oidc-client-js/blob/dcc644096f8de79a58372b4c88c987d53184163f/src/UserManager.js#L184), it doesn't appear to use the config for this part anyway?

Regardless, I added in `authority, client_id, response_type` and `scope` but found it produ

[2018-10-29 09:46] perarnborg commented on #14
OK, got it! I'll try to take a look at the code sample within short!

[2018-10-29 13:46] perarnborg commented on #14
@tommed I did not get this problem myself when I tried with my open id authority. Are you sure you have whitelisted all of the redirect uris? If for instance you are using Google as authority you need to whitelist both redirect_uri (http://localhost:8080/signin-oidc) and silent_redirect_uri (http://localhost:8080/silent-refresh-oidc.html) under Authorized redirect URIs.

[2018-10-29 13:49] tommed commented on #14
Yeh, we're not getting any errors on the side of the authorisation server, and both URLs are whitelisted. If this is a workable concept, I'll get the guys here to re-test and see why we're getting a redirect loop. Another option is to give you temp user and client access to our auth server if we're confident this isn't on our side... but it sounds like someone missed something somewhere... thanks

[2018-10-29 15:33] tommed commented on #14
IMHO the most elegant developer experience would be to get the silent renewal a part of the existing SPA router if this is possible - just as you do for the `signin-oidc` callback.

[2018-10-29 20:02] perarnborg commented on #9
@SoroTrestal I would advise you to update to the latest version of vuex-oidc (v1.10.4) – I have made a few improvements of both automatic silent renew and of the expiration check.

One thing regarding the automatic silent renew: if you want to test it with very short expiration times (to be specific that is times of 60 seconds or less) you need to configure the oidc setting accessTokenExpiringNoti

[2018-10-29 21:12] perarnborg commented on #9
@SoroTrestal I'm sorry, make that v1.10.5

[2018-10-29 21:37] perarnborg commented on #14
I can agree with you that it would be more simple for developers to implement the silent renew in vuex-oidc if it is possible to incorporate the silent renew callback in a vue route. When I have built open id client apps in the past I have gone for the approach of having a static file for the callback since it keeps the callback as simple as possible, but I will give this some thought.

However I

[2018-10-29 21:39] perarnborg commented on #14
(This is what I believe is the issue, that being said I am not 100% certain)

[2018-10-30 10:48] SoroTrestal commented on #9
Ok thanks I will try it out, I had indeed set the expiration at 60 seconds.

I think there is no problem, I was confused when I placed some logging in your code:

[code]

[code]

So the exp date changes correctly.

I have this set up for my client in IS:

[code]

And in the config.js:

[code]

Thanks for the changes.

[2018-10-30 13:49] alexlvovich opened #16 "how I can validate user by role"
I have 2 apis one for admin roles. My question is how can I check user roles on application level.

[2018-10-31 13:42] perarnborg commented on #16
Are you saying that the admin roles are not stored on the users in the open id authority?

I do not think that this should be any concern of vuex-oidc, but something you should solve in your applications code.

[2018-11-02 08:54] perarnborg commented on #14
@tommed OK, so I managed to reproduce the issue when using your login server. As far as I can see the problem is not in the vuex-oidc implementation, since the authorization request for the silent renew looks correct and the redirect loop looks like it is created in the dependency oidc-client.

My prime suspect is related to the cookie policy in the .net identity server (login.vigilantapps.com is

[2018-11-02 09:46] tommed commented on #14
Per you're a gent! Yes it's a .net identity server and I've asked our guys here to test the fixes you've linked to. Appreciate you looking at this especially, as you say, if it has nothing to do with your part!

Feels like we have another member of the Vigilant team with us today 😆!
I'll update this thread in a couple of hours once we've tried both fixes in staging.
Thanks again.

[2018-11-02 16:14] tommed commented on #14
Strangely, if I use `oidc-client` directly from the `public` folder of a vuecli3 project, it works fine against this server 💭 so when bypassing vue's lifecycle/pipeline this works fine?!?!? 😱

[2018-11-03 06:56] perarnborg commented on #14
OK, that’s interesting!

Did you use the unminified code in oidc-client? One of the issues I referred to stated that they only see this when using the minified oidc-client...

I’ll have a look and see if I can find anything!

[2018-11-03 09:48] alexlvovich commented on #16
Roles are part of .NET Core Identity and part of the claims IS4 provides. Of course, I'm checking roles up on logging in, but it would be nice to have option to check proper role on callback to client as well.

[2018-11-05 14:38] perarnborg commented on #16
If you provide the roles Claim as a custom scope in the authorization you should have the roles in the store on the user I believe?

[2018-11-05 21:11] perarnborg commented on #14
I had another look at this and cannot manage to get oidc-client working with silent renew against your authority. In this fork of oidc-client I adapted the VanillaJS UserManager sample to run against your login server (authority and client are blacked out): https://github.com/perarnborg/oidc-client-js

And I get the same problem, that oidc-client cannot get the user from its storage which triggers

[2018-11-05 21:15] perarnborg commented on #9
@SoroTrestal Do I understand correctly that everything is working as expected now?

[2018-11-07 09:54] SoroTrestal commented on #9
@perarnborg Yes, thanks again for the changes.

I'm still finding a clean solution to set my users roles and permissions.
For now I have implemented the events like this:

The will be a cleaner solutions ofc.

[code]

[2018-11-08 01:51] LazeBear opened #17 "how to logout silently?"
Consider there are two separate sites, both authenticated with the same single sign-on system. Let's call them, site A and site B.

If I log out from site B, I do get that `OIDC user is signed out` message logged to the console. However, I'm still acted as a signed in user, and can still access those protected routes.

What I want to achieve is, I want to log out the user on site A silently when r

[2018-11-08 02:08] LazeBear commented on #17
I used `store.commit('oidcStore/unsetOidcAuth');` and it does log me out silently

[2018-11-08 10:03] perarnborg commented on #17
Good job figuring this out.

I should probably add this behaviour to vuex-oidc itself so implementation won’t need to do this. I will do this in the next release and ping you here (and re-close issue) when that version is in place.

[2018-11-08 10:05] perarnborg commented on #16
I realized that I have limited the claims available on the oidcUser to only include the profile. I will do a rewrite that lets you check all of the claims you have scoped through a vuex getter.

Coming soon...

[2018-11-08 13:33] perarnborg commented on #9
I am not sure that I understand your code correctly. Does SecurityService.getUserRoles fetch the roles from another source than the signin authority?

If the roles exist as claims on the signin authority one option is the load them in the token by authenticating with a scope that collects the roles claim.

Otherwise there is an option to listen for browser events from vuex-oidc instead (if you are

[2018-11-08 13:36] perarnborg commented on #17
As of v1.11.0 vuex-oidc will do `store.commit('oidcStore/unsetOidcAuth')` when a token is expired (that is to say sign out the user in vuex).

[2018-11-08 13:36] #17 closed

[2018-11-09 08:53] perarnborg commented on #9
@SoroTrestal I realized the docs where inclomplete on the window events, you need to pass a setting `dispatchEventsOnWindow: true` when you create the vuex module to have the events on window. Docs are updated.

[2018-11-15 10:06] #9 closed

[2018-11-15 10:08] perarnborg commented on #16
@alexlvovich is this something you are still looking at?

[2018-11-21 10:12] tommed commented on #14
Thanks Per and apologies, I've been away for a couple of weeks. I left this with our Auth guy and he believes the reason this wasn't working (after help with the links you provided) was because they'd set the HTTP ONLY flag on the auth cookie and therefore the JScript for sharing this token was not able to access the cookie.

I'm working on attesting this with an update version of our Auth system

[2018-11-22 09:17] perarnborg commented on #14
Cool, sounds like a very plausible explanation. Looking forward to hear from you!

[2018-11-22 09:23] tommed commented on #14
@perarnborg good news, all sorted! The security system used HTTP Only cookies to protect them from being stolen by a rogue JScript - however the implementation in `oidc-client` uses JScript to grab and share the token, this was failing and causing the loop. When implementing a prototype vuejs oidc plug-in from scratch, this issue didn't exist (as it did with your vanilla adaptation), this is becau

[2018-11-29 08:05] cmyildirim opened #19 "Silent refresh does not renew idp session"

[2018-11-29 08:08] cmyildirim commented on #19
So after session finishes on identity server side silent refresh does not work anymore.
Let's say we have access token lifetime of 30 minutes, and idp session is 2 hours (defined by cookie). Silent refresh works 3 times refreshing the token but after 2 hours is finished it return error message login_required

[2018-11-29 16:04] #14 closed

[2018-11-29 16:05] #16 closed

[2018-11-29 16:32] perarnborg commented on #19
I might be out of my depth here, but I do not know how the client would control if the session at the idp is refreshed or not? What will happen when silent refresh is made is basically that an iframe will navigate to the url provided in silent_redirect_uri. What happens at the OP is beyond the clients control as far as I can see.

[2018-12-04 17:41] joshrobertson92 opened #20 "Should isAuthenticated be checking id_token or access token?"
I'm trying to establish why my app does a full page post to the identity server then back to the call back uri when the `id_token` has expired.

From what i can see the below code checks the id_token expiry, is this correct or should it check the access token?

`const isAuthenticated = (state) => {
    if (state.id_token && !tokenIsExpired(state.id_token)) {
      return true
    }
    return fals

[2018-12-05 09:45] joshrobertson92 commented on #20
Thanks for your response.

That works much better, any chance of this being released onto npm?

[2018-12-05 10:16] perarnborg commented on #20
@joshrobertson92 Yes, was published just now.

[2018-12-06 17:46] Samtronic opened #21 "End session"
Hi !

When I disconnect the session I have always this message in my frontEnd

oidc-client.min.js?dd17:3 Uncaught (in promise) Error: End-User authentication is required
    at new ErrorResponse (oidc-client.min.js?dd17:3)
    at ResponseValidator._processSigninParams (oidc-client.min.js?dd17:49)
    at ResponseValidator.validateSigninResponse (oidc-client.min.js?dd17:49)
    at eval (oidc-client.

[2018-12-06 21:07] perarnborg commented on #21
Thanks for the input!

This should be fixed in v1.12.1. Let me know if you are still seeing this.

[2018-12-06 22:35] Samtronic commented on #21
Everything seems to work well

Thank you for your work
Steven

[2018-12-06 22:55] #21 closed

[2018-12-07 12:33] Samtronic opened #22 "Documentation"
Hi !
In your documentation you wrote
computed: {
    ...mapGetters([
      'oidcIsAuthenticated',
      'oidcUser',
      'oidcAccessToken',
      'oidcAccessTokenExp',
      'oidcIdToken',
      'oidcIdTokenExp',
      'oidcAuthenticationIsChecked'
    ]),

It should be

computed: {
    ...mapGetters('oidcStore', [
      'oidcIsAuthenticated',
      'oidcUser',
      'oidcAccessToken',
      'oid

[2018-12-07 14:04] perarnborg commented on #22
This actually depends on if you have created your vuex module as a namespaced module or not.

[code]

[2018-12-07 14:06] Samtronic commented on #22
Yes thank you, I forgot the namespace

Thanks

[2018-12-07 14:08] #22 closed

[2018-12-10 14:35] #20 closed

[2019-02-11 15:55] NunoSav opened #23 "Update oidc-client lib"
Authorization code flow was implemented with version 1.6 and this lib is using 1.5.4.

Any plan on updating it? Thanks

[2019-02-11 18:17] perarnborg commented on #23
@NunoSav I will update the dependency within short unless I run into anything unexpected when doing so. However I will probably not have the time to test code flow with vuex-oidc myself any time soon.

[2019-02-12 08:34] perarnborg commented on #23
vuex-oidc with updated oidc-client is published as v1.13.0

[2019-02-12 08:34] #23 closed

[2019-02-27 01:16] consideRatio commented on #7
I also got the exact same error, but I learned that once this happens once, I can refresh the webpage to `example.com/` and it suddenly works fine as the redirect does not end up bouncing around a lot (to Okta and then onwards to Azure AD in my case) while it did this the first time.

Anyhow, since I knew this trick, I realized I could handle the error by redirecting back to `/`, and that worked h

[2019-03-10 13:30] perarnborg commented on #19
@cmyildirim Did you see my reply? As far as I can till this issue is not something that should be fixed by this library. I will close the issue if I do not hear back from you.

[2019-03-10 13:34] perarnborg commented on #7
@consideRatio Are you using Quasar as well? One thing I was thinking of - are you using server side rendering?

[2019-03-11 14:58] consideRatio commented on #7
@perarnborg I'm not, and the fault was not vuex-oidc I have learned now. It was my OIDC provider who failed to provide me the state if i initiated the request in a certain way.

OT: If you want to use Okta as an Identity Provider (IdP), that in turn redirects to an identity provider like Azure AD, Google, etc, you will need to hardcode the underlying identity provider (Azure AD, Google) with a `id

[2019-03-12 07:32] laggingreflex opened #25 "Use consistently cased keys, preferably camelCase"
Option keys are inconsistent:

[code]
I'm trying to read these from environment variables where the standard case is generally CAPITAL_SNAKE, but usually there are libs to normalize them (into camelCase) but due to different cases, each key requires special attention.

[2019-03-12 16:30] perarnborg commented on #25
@laggingreflex good point! The diffs in the casing are an artifact from oidc-client, that the library dependends on.

But I like the idea of normalizing the options. I will probably have this fixed within short.

[2019-03-12 16:33] perarnborg commented on #7
@consideRatio ok, thanks for the info!

[2019-03-15 22:38] #25 closed

[2019-03-15 22:40] perarnborg commented on #25
@laggingreflex Fixed in v1.14.0

[2019-03-20 06:58] kennyStarfisk opened #27 "a lot of oidc keys in localstorage"
Is it normal that I get a lot of local storage keys of oidc?
![Screenshot 2019-03-20 at 07 58 18](https://user-images.githubusercontent.com/44225848/54664956-f337d700-4ae5-11e9-8c55-7b7ea116d410.png)

[2019-03-20 10:23] kennyStarfisk opened #28 "Silent-renew immediately after login?"
Is this silent-renew action normal immediately after I login?
![Screenshot 2019-03-20 at 10 41 05](https://user-images.githubusercontent.com/44225848/54677170-a31b3d80-4b02-11e9-9274-4bdf8d3724b8.png)

[2019-03-25 09:10] Stormsys commented on #27
i think this is related to #29 this happens because every page load causes a redirect cycle to openid connect server

[2019-03-25 10:30] perarnborg commented on #27
That sounds right. oidc-client stores data in localstorage, and there will be a new entry there after each authentication. The current behaviour that each page reload triggers reauthentication will cause more of these entries.

[2019-03-25 19:53] perarnborg commented on #27
Version 1.15.0 now loads user from storage so you will probably see less keys in the storage. However, the library will still be a creating history of old (expired) tokens from earlier authentications in the storage since this is the way oidc-client works. Just not as many as before.

[2019-03-25 19:55] #19 closed

[2019-03-25 20:15] perarnborg commented on #28
It is not expected. The Access token did expire event is triggered (which is originally dispatched from oidc-client), and if this happens directly after signin I would suspect that oidc-client thinks that there is something wrong with the tokens it gets from the redirect callback.

[2019-03-28 13:53] liborpansky opened #31 "Event userLoaded does not fire"
Hi, first of all thank you for a job well done on the library!

I have an issue with latest version - after updating to 1.15+ event userLoaded fires just the first time after login, but the event does not trigger anymore after page refresh.

I'm using this event to set bearer header in Axios:
[code]

and then refresh token won't get set and all the API calls result in 401.

Is it correct behaviout

[2019-03-28 14:23] perarnborg commented on #31
Thank you for taking the time to report an issue.

At first glance I would say that this is not correct behaviour, the event should fire when the user is loaded from the storage as well as after authentication. I have to dig into this before I can say for certain though. I would have thought that the oidc-client library would trigger the event in this case, but perhaps vuex-oidc is missing that. A

[2019-03-28 21:46] perarnborg commented on #31
Fixed in v1.15.2

Let me know if you still are having problems @liborpansky

[2019-03-28 21:46] #31 closed

[2019-03-29 08:17] liborpansky commented on #31
Works as expected, thank you for the quick fix!

[2019-03-29 18:46] FradaL opened #33 "oidcIsAuthenticated not working after login"
Hi, I am working with vuex-oidc, but I have a problem, after the login I'm try capture the value -oidcIsAuthenticated, I think that should be True, but is False, can you help me?  can be a error of  version 1.15.1?

![image](https://user-images.githubusercontent.com/11936209/55255592-a27c5880-5220-11e9-9bad-d99947f235f4.png)

[2019-03-29 19:43] perarnborg commented on #33
I could not recreate this at my first attempt. Does it work if you use an order version (like v1.14.0)?

[2019-04-02 16:47] FradaL commented on #33
Hi Perarnborg, thanks for you help!

I did weekend tryed, Actually is "Working" but i have a other error, after login, the callback redirect to signin-oidc-error and the console show this:

![image](https://user-images.githubusercontent.com/11936209/55419601-5b4cdb00-5532-11e9-9806-58858ff59c2c.png)

Sorry, you can help me to find  error?

[2019-04-04 07:59] perarnborg commented on #33
@FradaL The error with no matching state found in storage is typically thrown when the url/fraction parameters in the callback do not match what is expected given the state that was saved before the authentication.

The most common reason for this is that something is off with the route definitions or redirectUri setting. I would advice you to go through the authentication with a browser inspector

[2019-04-04 09:11] #27 closed

[2019-04-08 20:18] FradaL commented on #33
@perarnborg  Thanks for you help! I solutioned all problems!

[2019-04-09 18:25] perarnborg commented on #33
@FradaL OK, that's great news!

[2019-04-09 18:25] #33 closed

[2019-04-17 09:13] ysaakpr opened #34 "route.meta is an array"
https://github.com/perarnborg/vuex-oidc/blob/890a88198d767714d3c9a9bf663c89cc9c629c55/src/store/create-store-module.js#L83

route.meta is an array and i am not able to use it in my vue version,

[2019-04-17 09:35] ysaakpr commented on #34
oh..i was using nuxt js router, and in which the route meta is an array

[2019-04-18 06:50] perarnborg commented on #34
Currently, vuex-oidc is built to work with vue-router. I might look into supporting nuxt though.

[2019-04-18 17:24] leopoldmandic opened #35 "Cannot store token in session storage"
I used your example as my starting point but I can't store token in session storage. I read your source code and in **oidc-helpers.js** there is:
[code]
which is used for building oidc UserManager object.
`new WebStorageStateStore()` is by default storing in localStorage (https://github.com/IdentityModel/oidc-client-js/blob/dev/src/WebStorageStateStore.js) and I can't pass any parameters to it. Ca

[2019-04-19 19:30] perarnborg commented on #35
You should be able to import WebStorageStateStore from oidc-client and instantiate your own new WebStorageStateStore() that you pass in as userStore in the config. It will override the default. I can write you an example after the weekend.

[2019-04-23 17:44] leopoldmandic commented on #35
Sorry for delayed response. I did try putting my WebStorageStateStore() but it didn't work out. I would be grateful if you could write an example for session storage (and maybe put it in your default example for anyone else trying same thing). Thank you in advance.

[2019-04-26 14:56] coolhome opened #36 "Minor correction to wiki"
Under the header `Optional: setup silent renew callback` (https://github.com/perarnborg/vuex-oidc/wiki#9-optional-setup-silent-renew-callback) the parameter `silentRedirectUri` should be `silent_redirect_uri`.

[2019-04-29 13:22] perarnborg commented on #36
Thanks for pointing out this inconsistency!

As of changes made for #25 both camelCase and snake_case are valid for this setting (and other settings that oidc-client have that are snake_cased. I have changed the docs now to consistently use snakeCase both in examples and in text.

[2019-04-29 18:37] israelfloresdga commented on #34
@ysaakpr How did you implemented vuex-oidc in Nuxt? I saw your fork, but I don't have a clue how to do the nuxt config.

[2019-04-29 19:26] perarnborg commented on #35
OK, so this is how you would change the example app to use sessionStorage:

[code]

[2019-04-29 19:54] perarnborg commented on #34
I have not had the time to do a proper implementation in nuxt. One thing that comes to mind is that the callback Component should probably use the mounted() hook in stressad of created() like the example does. Probably the library need adjustments as will, both for the meta array and probably to not check access on the server side.

But these are only thoughts, hopefully I can take some time for t

[2019-04-30 11:43] ysaakpr commented on #34
@israelfloresdga , I had some changes and made it work with vuex-oidc, but I haven't vuex-oidc as is, rather I modified a couple of lines of code. It's not in a sharable situation. I will put some time and will see if I can patch back the master.

And I haven't tested it for server-side rendering as well, because my usage is SPA

[2019-05-01 20:32] coolhome commented on #36
@perarnborg Nice!

Just a side note I think you can enable a setting for the repository to allow pull requests into the wiki
https://help.github.com/en/articles/changing-access-permissions-for-wikis

[2019-05-01 20:32] #36 closed

[2019-05-02 19:10] leopoldmandic commented on #35
Thanks a lot mate. You did great job with this wrapper.

[2019-05-02 19:10] #35 closed

[2019-05-16 06:35] ganruip opened #38 "nuxt example is not found"
the link is not found
[https://github.com/perarnborg/vuex-oidc-example-nuxt](https://github.com/perarnborg/vuex-oidc-example-nuxt)

[2019-05-16 06:50] perarnborg commented on #38
@ganruip Sorry about that, the nuxt example is now public!

[2019-05-16 06:50] #38 closed

[2019-05-16 07:26] ganruip opened #39 "cannot run in nuxt with universal mode"
cannot run in nuxt with universal mode, the nuxt example is spa mode, is it support?

[2019-05-29 21:18] ayZagen commented on #28
You should check your identity providers access_token lifetime. If it is short, this is expected.

[2019-05-29 21:19] ayZagen commented on #28
you can copy the access_Token and you can check its lifetime with a jwt parser (if it is not opaque but jwt, which probably it is ) or using [jwt.io](https://jwt.io/) the `exp` field in payload.

[2019-05-30 20:41] perarnborg commented on #39
Currently vuex-oidc does not support Nuxt in universal mode. I have been looking at it, but have had a hard time figuring out how to make it work.

[2019-05-30 21:02] perarnborg commented on #34
There is now information in the wiki on how to use vuex-oidc with Nuxt in SPA mode. Also an example of an implementation in https://github.com/perarnborg/vuex-oidc-example-nuxt/

[2019-05-31 14:37] atlcodecommandr opened #41 "OIDC.Log.Logger"
How can I get Logging working with vuex-oidc?

[2019-06-18 21:22] GordonBlahut commented on #41
I had to import OIDC from "vuex-oidc/node_modules/oidc-client" instead of from "oidc-client" to get the same reference used by vuex-oidc. I'm not sure why.

[2019-06-18 22:13] #34 closed

[2019-06-29 16:34] Timoms opened #43 "SilentRenew not working after refreshing the page using webpack"
Im not quite sure how to reproduce...
But im implementing vuex-oidc and its working fine with silent-renew until I change something in the component (to force a wepack based reload).

After that, it seems the event to silent renew is not fired anymore.
In the console I can see "Token is about to expire" and after that "Token is expired" - so OIDC is still working.

Even a force reload isn't fixing

[2019-06-30 08:30] perarnborg commented on #43
Ok, this is not something I have run into myself using webpack. But I can imagine that this could be an issue when using webpacks dev server with hot reload.

Should be fixable, but I am on vacation at the moment and will not be able to lok into this until mid July.

[2019-06-30 08:34] perarnborg commented on #41
Sorry for not replying to this sooner. @GordonBlahut’s suggestion is how you need to do it for now. I am planning to improve the api of vuex-oidc to use the Logger of oidc-client in a for intuitive way. Will not be able to look at it until the middle of july though.

[2019-07-02 14:26] GordonBlahut commented on #41
Is there a reason it works like that with the locked version and can't use the root level oidc-client as a peer dependency?

[2019-07-02 21:31] perarnborg commented on #41
My reasoning when deciding to have oidc-client as a dependency rather than a peer dependency was that I was a bit scared to rely on peer dependency warnings to get a correct version of Oidc-client, and also that I did not anticipate anyone to want to interact with oidc-client outside of vuex-oidc (using the oidc logger is of course a perfect example of that).

After thinking again about this I thi

[2019-07-03 13:35] GordonBlahut commented on #41
@perarnborg Cool that sounds good. I was confused at first because the first line of the wiki says that oidc-client is a peer dependency.

[2019-07-03 21:01] perarnborg commented on #41
Ouch, that’s my bad. I’ll change that, until it is a peer dep for real.

[2019-07-28 20:01] christophstockinger opened #44 "OAuth2 Possible?"
Hi @perarnborg,
is it possible to use your Packager for a simple OAuth2 implementation as well?

[2019-08-08 19:23] perarnborg commented on #44
@christophstockinger Not 100% sure what you mean, but the ([implementation example](https://github.com/perarnborg/vuex-oidc-example)) is an implementation of authentication against a google OAuth 2.0 client ID. So I think the answer is yes.

[2019-08-08 20:13] christophstockinger commented on #44
Okay. I was just looking at the documentary then.

But it is not possible to work with a password grant.
So that I request an OAuth2 server with the username and password in my frontend app and then get the tokens if these permissions are correct.

[2019-08-10 16:17] perarnborg commented on #44
@christophstockinger I understand. I believe there is a feature request for this in oidc-client that is under discussion. If it gets done in oicd-client, it will be supported in this package soon after that, but not before that is done as things look right now.

[2019-08-10 16:17] perarnborg commented on #44
[This is the issue in oidc-client](https://github.com/IdentityModel/oidc-client-js/issues/234)

[2019-08-10 17:36] christophstockinger commented on #44
thx

[2019-08-10 17:36] #44 closed

[2019-08-13 06:00] bey6 opened #46 "How to delay configuration of oidcSettings?"
I want to use a `config.json` file to save the server urls, so i need to request it with axios. but the configuartion of the oidcSettings is using before i request.

could you help me?

thanks.

[2019-08-14 17:03] perarnborg commented on #46
I understand! The package does not have direct support for this, but I believe you could use the vuex function registerModule to create the oidc vuex module dynamically after the axios request is done.

An example where a vuex module is created dynamically: https://alligator.io/vuejs/vuex-dynamic-modules/

[2019-08-15 01:00] bey6 commented on #46
I will try it, thank you very much.

[2019-08-15 01:00] #46 closed

[2019-08-19 08:22] perarnborg commented on #41
@atlcodecommandr @GordonBlahut As of v3.0.0 oidc-client is a peer dependency of vuex-oidc, rather than a locked dependency as before.

This means you need to install oidc-client separatly (as now specified in the docs), and you can use the logger of oidc-client like the oidc-client docs say:

[code]

Thank you for helping out!

[2019-08-27 10:50] jordyvaneijk opened #48 "Possible to use hash mode routing?"
Hi all,

In the example i see that the router is using history mode is it also possible to use hash mode? At the moment when I login to my IDP i get redirected back to the callback url and if i push the redirectPath like the example below

[code]
I get something like `https://mydomain.com/app/#/#/`
the value in my `redirectPath` = `/#/` at this time.

If i navigate to `https://mydomain.com/app/#/o

[2019-08-29 02:10] zrkcode opened #49 "Vue Error: No state in response"
npm：
"oidc-client": "^1.9.0",
"vuex-oidc": "^3.0.0"

Error: No state in response
    at e.t [as readSigninResponseState] (oidc-client.min.js?ac2e:1)
    at e.t [as processSigninResponse] (oidc-client.min.js?ac2e:1)
    at e.t [as _signinEnd] (oidc-client.min.js?ac2e:47)
    at e.t [as signinRedirectCallback] (oidc-client.min.js?ac2e:47)
    at eval (index.js?dcda:307)
    at new Promise (<anonymou

[2019-08-29 12:09] jordyvaneijk commented on #48
No one that can comment on this issue?

[2019-08-29 17:43] perarnborg commented on #48
The package should work with hash routes, I will investigate this within the next few days.

[2019-08-30 13:46] perarnborg commented on #48
@jordyvaneijk OK, so after thinking about this some more, I think it would be somewhat problematic to support vue-router in hash mode. The main reason is because with Open ID the response parameters are sent in the URL fragment. See [Open ID docs](https://openid.net/specs/openid-connect-core-1_0.html), chapter 3.2.2.5.  Successful Authentication Response.

So what I think you could do if you want

[2019-08-30 14:30] jordyvaneijk commented on #48
@perarnborg an example of how to fix it would be nice.

[2019-09-01 17:20] perarnborg commented on #48
@jordyvaneijk There is an [example](https://github.com/perarnborg/vuex-oidc-example/tree/example/hash-mode) now with hash mode.

You can see the specifics on how to go about in the [diff page on GitHub](https://github.com/perarnborg/vuex-oidc-example/compare/example/hash-mode). The idea is to have a static html page outside of the vue app that handles the callback.

You need to upgrade vuex-oidc t

[2019-09-01 22:02] #41 closed

[2019-09-02 19:41] perarnborg commented on #49
@zrkcode I do not quite get why `this._redirectNavigator.url` does not get the open id response parameters, since it should be set to window.location.href (this happens inside this package's dependency [oidc-client](https://github.com/IdentityModel/oidc-client-js).

Anyway, I guess we could add a parameter to the oidcSignInCallback action like you suggest, since òidc-client has that parameter on i

[2019-09-03 01:14] zrkcode commented on #49
All right

[2019-09-03 03:42] #49 closed

[2019-09-03 07:54] perarnborg commented on #49
@zrkcode If you update to v3.1.1 your have an optional url parameter on the oidcSignInCallback action.

[2019-09-03 07:59] zrkcode commented on #49
@perarnborg Thanks

[2019-09-03 11:19] jordyvaneijk commented on #48
Thank you so much for the quick response and creating a fix!

[2019-09-03 11:19] #48 closed

[2019-09-10 16:07] GordonBlahut opened #51 "Event.detail is empty object in vuexoidc:userLoaded?"
I'm using `dispatchEventsOnWindow: true` and trying to handle `vuexoidc:userLoaded` in a component. The event handler fires, but `event.detail` appears to be an empty object. Unlike the `userLoaded` event within the store itself, the custom window event does not seem to contain the user data.

It looks like it's intended to be passed as the detail: https://github.com/perarnborg/vuex-oidc/blob/c794

[2019-09-10 21:03] perarnborg commented on #51
Thank you for pointing this out @GordonBlahut!

The user is indeed intended to be there, and this should be fixed as of v3.1.2.

[2019-09-10 21:04] perarnborg commented on #51
(If you are bumping up from < v3 you need to install peer dependency oidc-client manually)

[2019-09-11 19:33] GordonBlahut commented on #51
@perarnborg Thanks for the quick fix, I will try it out and let you know.

BTW for your previous change for hash routing, did you look at using $route.fullPath instead of $route.path and manually appending the document.location.search and document.location.fragment? You could possibly entirely avoid any special handling for hash mode since $route.fullPath automatically does not contain the leading

[2019-09-16 10:54] perarnborg commented on #51
@GordonBlahut Very good point! I will look into this and probably change it. Thank you for helping out!

[2019-09-17 08:24] gregorybleiker opened #52 "Error handling"
Hi there
I'm struggling getting error handling to work. For instance, if the oidc provider is offline, I would like to show an error message. Is there any events/hooks I can use?

[2019-09-19 12:16] cperrin88 opened #53 "[Feature Request] Logout without IdP logout."
I use fusionauth as IdP and they don't expose an end session endpoint in their metadata. I have allready raised ticket with them but I don't know when this will be fixed.

Since the logout seems to be an optional endpoint anyway, maybe it is possible to at least create a client side logout.

[2019-09-19 20:28] perarnborg commented on #53
Sounds like a good idea to add an action to clear the user in the browser. I will look in to this within short.

[2019-09-21 11:07] perarnborg commented on #52
@gregorybleiker There is currently a getter called `oidcError` that will return any error that has occured in the oidc connection, https://github.com/perarnborg/vuex-oidc/wiki#api.

But I can see the point in introducing an event to be able to listen to when an error occurs. I will look into that for a coming update.

[2019-09-22 09:06] perarnborg commented on #51
@GordonBlahut Thanks for the tip! The special handling of router hash mode is now removed!

[2019-09-22 09:06] #51 closed

[2019-09-22 15:27] perarnborg commented on #53
@cperrin88 as of v3.1.4 there is an action (`removeUser`) that signs out the user in vuex and browser storage.

[2019-09-22 15:54] cperrin88 commented on #53
You are awesome! Thanks a lot!

[2019-09-23 21:35] perarnborg commented on #52
@gregorybleiker As of v3.1.5 there is an event called oidcError that you can listen to. See [wvent docs](https://github.com/perarnborg/vuex-oidc/wiki#10-optional-setup-oidc-client-event-listeners) or [example repository](https://github.com/perarnborg/vuex-oidc-example)

[2019-09-26 14:58] GordonBlahut opened #55 "How can I check authenticated status at startup?"
I'm trying to check if the user is authenticated in my root component's `created` method, but it seems the getters aren't set yet at that point.

Basically, if the user is authenticated I want to run some startup code and wait for it to complete before any child components/routes are processed as many will depend on the initial state being available.

Right now I'm running my auth-dependent code i

[2019-09-28 21:37] #53 closed

[2019-09-28 21:37] #52 closed

[2019-09-28 21:43] perarnborg commented on #55
Currently the authentication will be set the first time in the router middleware, so the created() hook in your root component can not be trusted to run before authentication is set.

I can look into if this can change, however if you have your oidc callback handled in a vue route (like the example implementation), the root components created() hook after a sign in at the provider would be called

[2019-10-10 12:54] cperrin88 opened #56 "[Feature Request] Login with popup"
Can you maybe add a way to log in with a popup instead of the full page redirect? I think there is this `signinPopup` method for that.

[2019-10-12 18:57] perarnborg commented on #55
@GordonBlahut As of v3.1.6 the getOidcUser action returns a promise that you can await, so you could use this to check authentiaction at start up.

[code]

However, as I pointed out in the comment above, remember that the created() hook in your app's root component will not be run again if you authenticate (with the open id callback) the user within the vue app like the example app does. So you ne

[2019-10-12 19:02] perarnborg commented on #56
Good point! Will look into this!

[2019-10-13 12:59] nixxholas opened #57 "[Feature Request] Non-redirecting logout"
https://github.com/IdentityModel/oidc-client-js/issues/258

Not sure if we can bring this over! :)

[2019-10-15 10:47] mortensassi opened #58 "No key matching kid or alg found in signing keys"
Followed your step by step tutorial but unfortunately I'm having an issue with the signingKeys:

`Error: "No key matching kid or alg found in signing keys"`

this is my config:

[code]

Got any clues what i am doing wrong?

[2019-10-15 15:02] Doormouse2House commented on #43
I suspect the OP issue was caused by the same thing in that the webpack reload is seeing OidcIsAuthenticated as false because the access_token is expired.  Anyway, happy to create a new issue.

I'll answer your request for clarity in the new ticket...

[2019-10-15 15:04] Doormouse2House opened #59 "oidcIsAuthenticated is bound to access_token expiry instead of id_token"
To me it seems as though the implementation of oidcIsAuthenticated is correct insofar as when the state of id_token flips, the OIDC client is considered no longer authenticated.

Unfortunately, when I look at the user retrieved as part of the authentication process, I can see that the "expires_at" or user.expired field is using the access_token expiry and not the id_token expiry. In my case, the a

[2019-10-15 15:13] Doormouse2House commented on #59
I'm not an expert, and hopefully one chimes in, however my understanding is that the access_token is supposed to be used for access to a protected resource, most commonly an API, and as mentioned is commonly short-lived.
https://auth0.com/docs/protocols/oidc#access-tokens

The id_token contains the identity data for the user, is longer lived, and also includes claims which can be validated by the

[2019-10-15 15:17] razvanreb opened #60 "No parameter exposed for passing it forward to signinRedirect() call"
Not able to pass any args to this method
signinRedirect(**args?: any**): Promise<any>;

https://github.com/perarnborg/vuex-oidc/blob/master/src/store/create-store-module.js#L158

I think it would make sense to have an (signinRedirectOptions : any) to authenticateOidc function

[2019-10-15 15:29] Doormouse2House commented on #59
Yes, the access_token expiry means that the authenticated user can no longer access an API, but doesn't mean that the session is necessarily dead.  Possibly a silent_refresh needs to happen before the access_token expires, but that seems like an opinionated decision of the App Owner.

I really think the [documentation around using oidcIsAuthenticated](https://github.com/perarnborg/vuex-oidc/wiki#5

[2019-10-15 15:30] Doormouse2House commented on #59
I can update the docs when you're clear on how you want to approach.  I wouldn't let me near your code : )

[2019-10-15 16:03] razvanreb commented on #58
I think you should look at the oidc-client library instead. Your issue seems not to be related to Vuex-oidc .
e.g. https://github.com/IdentityModel/oidc-client-js/issues/264

[2019-10-15 19:04] perarnborg commented on #60
@razvanreb  Good point, I will fix this!

[2019-10-15 19:29] perarnborg commented on #60
@razvanreb Do you see a need for this when vuex-oidc dispatches authenticateOidc internally (which it does in the oidcCheckAccess action)? Or only if the action is dispatched by your app?

[2019-10-16 03:17] razvanreb commented on #60
Indeed, I'm dispatching this action myself.  Even if I wouldn't do it like that, I would still need to be able to pass those args, somehow, as it's a deal breaker for me. Your commit looks fine, handling both cases.

Perhaps, it would make sense to have a separate vuexOidcSettings on the createStoreModule, if more things like these would be needed.

Thank you!

[2019-10-16 12:22] perarnborg commented on #60
Yes, I am also leaning towards implementing an option for "defatault" signinRedirectOptions. Will add that to the PR and publish the changes within the next days.

[2019-10-16 12:28] perarnborg commented on #59
OK, my idea has been to bind app access to the life time of the access_token, just like you have figured out. And if you want the session to live longer you would implement automatic silent renew of the access_token (as exampled in the docs).

But perhaps this is a little opinionated, and I am not against introducing a setting to have access control set up against the id_token, even though I belie

[2019-10-16 12:33] perarnborg commented on #58
@mortensassi I agree with @razvanreb. There are a few other closed issues that look similar in oidc-client as well. My first suggestion would be to look through those:

https://github.com/IdentityModel/oidc-client-js/issues?q=is%3Aissue+No+key+matching+kid+or+alg+found+in+signing+keys+is%3Aclosed

[2019-10-16 12:36] perarnborg commented on #57
Sounds like a good plan! Feel free to look into implementing the feature if you are willing and able! :)

Otherwise I will look at this in a few weeks, I won't have the bandwidth before that.

[2019-10-16 12:44] mortensassi commented on #58
I found out we just got the wrong keys-url and now it is working! Sorry for wasting your time and thank you!

[2019-10-16 12:44] #58 closed

[2019-10-17 11:39] #60 closed

[2019-10-17 14:10] perarnborg commented on #60
@razvanreb You can now (as of v3.2.0) include options in the payload for the authenticateOidc action.
[code]

You can also specify default options when you create the store module (this is recommended if you want vuex-oidc to always send these arguments while authenticating):

[code]

[2019-10-17 17:01] perarnborg commented on #55
@GordonBlahut Did you look at my suggestion above?

[2019-10-17 18:55] GordonBlahut commented on #55
I think I can do what I need to do within a beforeEnter on my top level route.

Being able to await the `getOidcUser` call is indeed helpful so thank you very much for that change.

[2019-10-17 19:06] perarnborg commented on #55
Ok, good luck!

That’s right, Vue will not wait for async operations in create hooks before the lyfe cycle continues.

[2019-10-19 14:31] perarnborg commented on #43
@Timoms I spent some time to try to recreate this issue (webpack dev server hot reload causing automatic silent renew to stop working), but to no success. Is it any component update that causes this, or is it something more specific that breaks the implementation?

Do you have the time to create an example project where the issue can be seen?

[2019-10-19 19:42] alexsandro-xpt opened #63 "[Feature Request] Allow vuexOidcCreateRouterMiddleware parameterized to make silent and transparent login and stop unnecessary redirects instead"
This block code part could be parameterized to stop to make unnecessary redirects:

https://github.com/perarnborg/vuex-oidc/blob/c65b1092f0225dd26a16f51ad784fe92d74ab8d3/src/store/create-store-module.js#L138-L141

### Please think about `vuexOidcCreateRouterMiddleware` scenery:

I always save user information like access token, sub, exp, name and email state at IndexedDB.

Even time when user open

[2019-10-22 03:09] zredb opened #64 "Localization"
Hello,
      how can I pass "ui_locales" parameter dynamiclly to oidcSettings? It seems no way to set "ui_locales" parameter before the send authetication request, any one has comment?

[2019-10-22 07:57] perarnborg commented on #56
@cperrin88 as of v3.3.0 there is a `authenticateOidcPopup` action that implements `signinPopup`

[2019-10-22 09:30] perarnborg commented on #56
(You also need to provide a callback for the popup authentication: https://github.com/perarnborg/vuex-oidc-example/blob/caaaef0e4508200dfd8fa4fb7e1762c2269822c1/src/router.js#L39)

[2019-10-22 12:28] perarnborg commented on #64
Right now the UserManager is created when the vuex module is created. So the only option I can think of is to create the store module asynchronously when you now what parameters you want.

A post on how to create modules dynamically: https://alligator.io/vuejs/vuex-dynamic-modules/

I have not tried this myself though.

[2019-10-22 12:31] perarnborg commented on #63
I will take a look at this, but not in the next few days.

[2019-10-22 18:22] GordonBlahut commented on #56
@perarnborg FYI it looks like you duplicated a setting here related to this change:
https://github.com/perarnborg/vuex-oidc/blob/fc97ccbb979a6debb27ede4988865a3d9f830fe6/src/services/oidc-helpers.js#L17-L29

`popupRedirectUri` is on both lines 26 & 28. Not sure if just an unintended duplication, or if if the second value was meant to be a different setting and mistyped.

[2019-10-22 19:17] perarnborg commented on #56
@GordonBlahut Thanks for pointing this out! This was an unintended duplication. I'll remove the second one!

Cheers!

[2019-10-24 18:31] Joshgallagher opened #65 "Log out confusion"
Hi,

Great library! Made my life so much easier!

I have looked through the docs and can't tell how to set up 'log out' functionality.

I am using Ory Hydra and they provide both front and back channel log out flows.

Any chance you could point me in the right direction?

[2019-10-27 12:55] Timoms commented on #43
@perarnborg Hey. thanks for your time.
I am currently converting all my projects to NuxtJS - If the problem shows up even in my NuxtJS projects, ill let you know.

[2019-10-27 19:15] Timoms opened #66 "removeUser not found"
Hey,

As mentioned in another issue, im currently working with oidc again.
Is it possible, that the documentation for "removeUser" is deprecated?

![image](https://user-images.githubusercontent.com/26655414/67639937-762fd400-f8f6-11e9-9c79-38cb559976de.png)

Is the method now named differently?

[2019-10-28 05:56] xyfy opened #67 "vue-router is in needed??"
I found the package 'vue-router' was not necessary in source code.  it may used in example,but not in source?   because you just provide a middlewire.

will you reduce this require package in source code & npm package?

[2019-10-28 07:48] perarnborg commented on #66
Sorry if this has caused you trouble. As of v3.3.0 the action is called removeOidcUser just to have the action names more consistently named. However you should still be able to dispatch removeUser as a synonym for removeOidcUser.

[2019-10-28 07:50] perarnborg commented on #67
I guess it would make sense to remove the peer dependency for vue-router since it is not mandatory to implement vue-router with this package. I will do that in a future update.

[2019-10-28 07:58] perarnborg commented on #65
Sorry, the docs could use a overhaul, but I am stretched for time.

To sign out at the provider you should be able to dispatch the action `signOutOidc`.  This triggers the `signoutRedirect` method in [`oidc-client`](https://github.com/IdentityModel/oidc-client-js/wiki).

You can also dispatch action `removeOidcUser` to only sign out from the current app.

[2019-10-28 17:49] Timoms commented on #66
Thanks man, it worked fine.
Had an old version too, thats why there was not a single "removeUser" in the JS 😆!

Cheers! Great work.

[2019-10-28 17:50] #66 closed

[2019-10-29 01:48] xyfy commented on #67
I create a pull request for this issuse

[2019-11-06 18:05] perarnborg commented on #67
@xyfy Thanks again for contributing! The change is published in v3.3.1.

[2019-11-06 18:05] #67 closed

[2019-11-19 17:31] titilambert commented on #58
@mortensassi What is the correct `jwks_uri` ? I have the same issue ...

[2019-11-19 18:58] mortensassi commented on #58
hey @titilambert this is in my conf – write me if you need further help!

[code]

[2019-11-26 12:37] ckpearson opened #70 "Guidance on unit / e2e testing approach?"
Hi,

I've integrated vuex-oidc into a vue app I'm building as part of our evaluation of SPA frameworks, and it's working great.

I'm now coming to writing the unit tests and e2e tests (I'm using Jest / Cypress respectively).

The Cypress documentation and best practice indicates that you shouldn't rely on third party systems via redirects, and should instead request tokens programmatically.

So my

[2019-11-26 15:12] ckpearson opened #71 "oidcSettings automaticSilentRenew false still results in silent renew"
with `oidcSettings.js` looking as follows:

[code]

I have a `beforeEnter` nav guard on my root route:

[code]

And an oidc-silent-renew route as such:

[code]

I'm seeing the nav guard for `/` being hit when first navigating to the app, and `authed` is false, but then inexplicably after a couple of seconds the `/oidc-silent-renew` root `beforeEnter` guard is getting hit with a new token.

I don't

[2019-11-27 13:46] jordyvaneijk opened #72 "silent-renew always uses implicit flow?"
Hi,

I'm using vuex-oidc and in my settings i have the following setup.
[code]
It looks like the automaticSilentRenew is doing a call to IdentityServer4 (our IDP) with an implicit flow while we configured authorization_code flow. Are we doing something wrong or is this by design?

Because our client is registered for authorization_code we get an Unauthorized_client exception from identity server s

[2019-11-29 16:27] perarnborg commented on #72
Hello!

To me this sounds like an issue with oidc-client, since that is the library that makes the calls to the identity provider. I saw this closed issue from someone experiencing the same problem. Could it be that you are issuing a refresh token that is the problem?

https://github.com/IdentityModel/oidc-client-js/issues/991

[2019-11-29 16:30] perarnborg commented on #71
This is the way I have design the package to work. If you specify a silentRedirectUri a silent sign in will be made on public routes if the user is not authenticated. The automaticSilentRenew setting on the other hand is what controls if a silent sign in should be made when tokens are about to expire.

If you do not want the silent signing to be performed you can remove the silentRedirectUri from

[2019-11-29 16:30] perarnborg commented on #71
Sorry, did not mean to close the issue. :)

[2019-11-29 16:38] perarnborg commented on #70
I am a bit pressed for time right now so I will not be able to answer your question at length right now. What I can say (to answer your third question) is that you can disable silen renew by removing silentRenewUri from your oidc settings.

[2019-12-02 02:06] zredb opened #73 "How can pass id_token_hint to signoutRedirect method"
Hello，
     If I want to bypass the logout prompt, I need to pass id_token_hint parameter to end session endpoint, but now it seems no way to pass this parammeter using signoutRedirect method.  because the signOutOidc: function signOutOidc(context) method only has one parameter context which corresponding to store. how can I pass id_token_hint to signoutRedirect method? thank you！

[2019-12-02 08:58] ckpearson commented on #71
That answers my question, I guess it was a case of confusion, as to my mind `automaticSilentRenew` being a bool seemed like it would be a toggle for *all* silent renewal, as both the public route and token expiry are "automatic".

Perhaps it might be an idea to have the behaviours both controllable via boolean toggles?

E.g.

`automaticSilentRenewExpiringTokens`
`automaticSilentRenewOnRoutes`

Nam

[2019-12-02 09:00] ckpearson commented on #70
That's fine, I suppose for E2E testing my primary question is whether there's a way I can provide user data ahead of time (perhaps by invoking a store mutation manually) that would mean it believed a user was authenticated?

[2019-12-30 21:31] #65 closed

[2019-12-30 21:34] #56 closed

[2019-12-30 21:35] #55 closed

[2019-12-30 21:42] perarnborg commented on #73
As of v3.4.0 you can dispatch signOutOidc({ id_token_hint: 'hint' }).

[2019-12-30 21:42] #73 closed

[2020-01-20 18:42] jonasrdm commented on #70
Hello, I have the same questions of @ckpearson.
I'm very insterested in finding ways to workaround vuex-oidc on e2e tests as well

[2020-01-29 11:32] SoroTrestal commented on #60
Hello, is there any example code how to use the authenticateOidc dispatch action, I want to authenticate before my app gets loaded.

Right now i'm stuck in a redirect loop, if I use it.

Kind regards

[2020-01-29 18:24] SoroTrestal opened #76 "AuthenticateOidc dispatch action question"
Hello, is there any example code how to use the authenticateOidc dispatch action, I want to authenticate before my app gets loaded.

Right now i'm stuck in a redirect loop, if I use it.

Kind regards

_Originally posted by @SoroTrestal in https://github.com/perarnborg/vuex-oidc/issues/60#issuecomment-579714786_

[2020-01-30 08:20] razvanreb commented on #76
https://github.com/perarnborg/vuex-oidc-example/blob/master/src/App.vue#L31

Have a try on this example, using `authenticateOidc `instead of `authenticateOidcPopup`.

[2020-01-31 10:36] mediafreakch commented on #71
@perarnborg It seems this behaviour leads to a strange bug in my app. Where when I logout from a protected route I'm immediately being logged in again. As the `post_logout_redirect_uri` I configured a public route. I specified a `silent_redirect_uri` and `automaticSilentRenew: true` as well.

I am confused about how to get this right...

[2020-01-31 10:55] mediafreakch commented on #71
It might be worth to mention that in the Network tab, I see that the call to `/logout` (oidc provider) is being "canceled"...

[2020-01-31 12:32] mediafreakch commented on #71
I found the problem. I was using vuetify with the following code:

[code]

Turns out that the `signOut` (vuex-action) was called, but canceled somewhere up the tree because the click event propagated.

**Solution**

Attach `.stop` to the click handler like so:

[code]

With this I can actually keep `silent_redirect_uri` and `automaticSilentRenew` enabled and everything still behaves like I want.

[2020-02-04 18:51] ux-engineer opened #77 "OidcCallback view as a route guard?"
What is the reason for implementing OidcCallback as a route view instead of a route guard?

Having a view obviously gives the benefit of showing a loading indicator. However, at least in our usage implementation of your package, we are just dispatching a oidcSignInCallback store action from that component and the browser and then redirecting page to redirectPath. User is on shown that component on

[2020-02-04 20:33] rac0316 commented on #55
Found an issue with this method - if you're not currently signed in or if you're coming back to an oidc-callback method, getOidcUser will throw an error because it's trying to set user.profile into the store. I believe if you just let this gracefully fail instead of error-ing out, then the error will go away and still allow us to use getOidcUser to get user information at application start. This w

[2020-02-04 22:19] perarnborg commented on #71
I am implementing a new setting to opt in to disable the automatic signing in on public routes. Will be published within the next couple of days.

[2020-02-04 22:31] perarnborg commented on #77
You could implement the callback in a route guard if you want. I think the main reason why I prefer a route is that you typically white list a redirect uri on the provider side, and it makes sense to me that this uri matches exactly one route.

[2020-02-04 22:39] perarnborg commented on #55
@rac0316 Thanks for pointing this out, I will look into this within short.

[2020-02-05 07:25] ux-engineer commented on #77
You can still have a route defined, and use it's beforeEnter route guard?

[2020-02-05 09:26] ux-engineer commented on #77
Btw with such a implementation using Vuex from within router, there came ESLint errors for cyclical dependency found... Circumvented by requiring store within the callback function.

[2020-02-05 09:34] perarnborg commented on #77
I would say that this is only a matter of taste and I don't see any problem with using a route guard rather than a component. Using a component gives you the option to show something to the user while the callback is handled, but just like you point out this happens quickly in a typical scenario. However a spinner could perhaps be useful if there are network issues or problems with the provider.

[2020-02-05 10:02] ux-engineer commented on #77
Yes...we are probably implementing a global loading view, as that would be useful with lazy loaded route chunks as well. However there might be some timing or scope-accessability issues with route guards, or not.

ESLint kept throwing em...we are using TypeScript with Vue CLI eslint presets and ESLint's VS Code extension.

[2020-02-10 15:56] perarnborg commented on #71
As of v3.4.1 it is possible to set automaticSilentSignin: false in the oidc config. The wiki has some brief docs on this in the silent signin section.

[2020-02-18 14:01] Henreich opened #80 "[Question] Data not consumed after login"
Hello, Ive been trying out the example application and it works just fine with the google login example, however it stops working when I replace the oidcSettings with my own.
I am directed to the login page correctly, but when I am redirected after login all the data is in the URL and the vuex state doesnt update with the information. The URL looks like this:

`https://localhost:3000/#access_token

[2020-02-18 22:24] perarnborg commented on #80
Your app needs to handle the callback from the identity provider. In your example you have entered https://localhost:3000/ as redirectUri. If you are using the code from the example application, the callback is handled on the route /oidc-callback (you should dispatch the action oidcSignInCallback on the route that the provider sends you to, like in https://github.com/perarnborg/vuex-oidc-example/b

[2020-02-19 16:35] ux-engineer opened #81 "After succesful login and opening redirectPath, upon F5 router loads oidc callback url resulting in oidc callback error"
I have a custom modified version of your router beforeEach guard:

[code]

And having Oidc Callback logic in a function that is passed as a callback function to my oidcCallback view from router level (having all the auth logics in a single guards file, destructure-imported to router, as hinted in my previous issue/question: https://github.com/perarnborg/vuex-oidc/issues/77

[code]

As a question a

[2020-02-27 09:46] aido179 opened #82 "Vue router middleware does not allow popup authentication."
Hi, thanks for your work on this project. Super useful.

# Problem
When following the example implementation, a popup window is used for login. This works fine for the first sign-in, but when the user is logged out, or auth expires,  the vue-router middleware redirects them to a login page served by the authentication authority in the same window as the application.

This would be fine if we weren

[2020-03-04 21:41] cmfc31 commented on #43
@Timoms Oh, that's happening to me right now. Every time I manually refresh the page, close the app and open it on a new tab, silent-renew stops working.  Even if I logout and login again, I need to clear the application data from my browser to make it work again.

[2020-03-04 22:35] cmfc31 commented on #43
@perarnborg I found the issue. The problem appears when I use vuex-persistedstate plugin
https://github.com/robinvdvleuten/vuex-persistedstate

I started using this plugin because when I refresh my page I lose my vuex state. So, somehow when I use it along with vuex-oidc silent-renew stops working on refresh. Could you make it work with persistedstate plugin?

[2020-03-04 23:07] cmfc31 commented on #43
@perarnborg I think I found a workaround storing my own vuex state on a separate module. So, I'll only use persistedstate in my module. Leaving vuex-oidc on it's own. Here's how my store.js looks right now.

[code]

Well, right now it seems like everything is working fine! Silent-renew still works on page reloads. And I still have my persistedstate 😄.

[2020-03-10 09:22] zhk0603 opened #84 "Thank you，Your project is nice；but,I have a few questions"
1: why not implemented: "signoutPopup"
2: How to get "UserManager" instance externally

[2020-03-10 09:58] perarnborg commented on #84
I think both of your feature requests are valid, and I can see the point of both of them.

Currently there is no way to ger the user manager instance, but I will look in to a way to expose it.

[2020-03-11 11:37] perarnborg commented on #82
I can see your point. I will have to think a bit about this one. Perhaps it would be nice to be able to open the authentication in a popup in the route guards as well.

One option you might have now is to add an event listener to accessTokenExpired that opens the popup. Have not tried this myself yet.

But perhaps a usePopup setting could be a nice idea!

[2020-03-11 16:18] perarnborg commented on #81
@ux-engineer Just wanted to say that I am sorry I have not found the time yet to look at this.

[2020-03-11 16:29] perarnborg commented on #84
@zhk0603 signoutPopup was published in v3.4.2

[2020-03-13 12:15] #84 closed

[2020-03-18 15:10] volvotrax opened #87 "Setting specific routes as public doesn't work with Nuxt"
Hello,
First of all, thank you for all your useful work.

## Problem
When using Nuxt, setting meta.isPublic on a page doesn't work: isPublic is ignored and the route require authentication.

_Example:_
[code]

## Suggested Solution
It doesn't work because route.meta is an array. Therefore `route.meta && route.meta.isPublic` returns false.

https://github.com/perarnborg/vuex-oidc/blob/0b4c1aeb6f766

[2020-03-18 20:03] bcronje opened #88 "vuexOidcProcessSilentSignInCallback with config"
The wiki and demo app currently states you need the following code to do silent signin:

[code]

However `vuexOidcProcessSilentSignInCallback` is essentially `processSilentSignInCallback ` and it does not take an [argument](https://github.com/perarnborg/vuex-oidc/blob/master/src/services/oidc-helpers.js#L81).

Is this a documentation issue, or a bug in `processSilentSignInCallback` ?

PS I hope yo

[2020-04-02 23:43] perarnborg commented on #88
You are correct, there was a mistake in the docs. Fixed now, thank you!

I want to merge the typings PR, but will have to take some time to look at them one last time. Will hopefully do this within short.

[2020-04-02 23:43] #88 closed

[2020-04-02 23:53] perarnborg commented on #87
Good point. I noticed this when I first implemented nuxt support, and I felt a little uneasy about how exactle the array in nuxt is composed. Is it good enough to check if meta is an array and in that case look at the first item in the array?

I opted to instead add a setting for the vuex store module called `publicRoutePaths ` that can be used in stead of the route meta. See https://github.com/pe

[2020-04-03 22:10] hhuseyinpay opened #90 "how to setup silent renew callback"
Hi, first of all, thank you very much for developing this library! My setup is:
config.js:
![Screen Shot 2020-04-03 at 23 58 05](https://user-images.githubusercontent.com/14811488/78404737-b0b93d80-7607-11ea-9e13-1fdad0d06d87.png)

route.js:
![Screen Shot 2020-04-04 at 00 03 57](https://user-images.githubusercontent.com/14811488/78404796-cb8bb200-7607-11ea-9809-8cc51d9ccb2e.png)

SlientSigninCallb

[2020-04-04 01:14] birula commented on #90
Hi @hhuseyinpay make sure the silentRedirectUri is present in the IdentityServer RedirectUris.

[2020-04-04 16:23] hhuseyinpay commented on #90
Thank you for your reply. I solved the issue with the following setup:

![Screen Shot 2020-04-04 at 19 17 39](https://user-images.githubusercontent.com/14811488/78455830-27f2de00-76a9-11ea-8f5e-b8ab51b42a8f.png)

I'm a newbie at IdentityServer, so is this setup correct? Is there any better way to configure IdentityServer?

[2020-04-05 13:33] birula commented on #90
i'm still learning IdentityServer too, i have followed [this article](https://www.scottbrady91.com/Identity-Server/Getting-Started-with-IdentityServer-4) to create my initial configuration.

Hope it helps.

[2020-04-05 20:06] #90 closed

[2020-04-14 17:32] dschmidt opened #91 "code flow with PKCE: renewal removes id_token and isAuthenticated becomes false"
Hey,

I'm not completely sure this qualifies as a bug, but I hope you can guide me on how to deal with this correctly.

I'm using the vuex-oidc-example repo with the following settings with response type "code" and scope "openid profile offline_access". This correctly uses the PKCE flow and retrieves a refresh token. When I click "Reauthenticate silently" the refresh_token is correctly used to ret

[2020-04-14 17:48] dschmidt commented on #91
FTR this is what the content of the localStorage looks like after refreshing. It's basically the same as before refreshing. Just - as I said - the id_token is removed.

[code]

[2020-04-15 04:13] perarnborg commented on #91
Thank you for posting this!

I agree that it does not feel right that we erase the id_token in this case. I beleive that the provider implementations that I have looked at do not have this issue. I need to look at this more closely, I'll get back to you.

The issue of what should determine isAuthenticated has been up before, and I thunk it could be useful to allow implementors to define this with

[2020-04-15 09:02] dschmidt commented on #91
Thanks for the quick response!

I had found https://github.com/perarnborg/vuex-oidc/issues/20 before, but I wasn't sure how it did (or didn't) apply to my specific case - yes, a setting sounds good.

Tbh I'm just looking into oidc and it's really hard for me to tell what part of the system is not behaving well when something is not working. I had a friend test the example app with his keycloak ins

[2020-04-15 13:47] dschmidt commented on #91
I've sent 3 pull requests
- #93 adds a setting to switch to be able to switch to access_token for isAuthenticated determination
- #92 adds refresh tokens to the store
- https://github.com/perarnborg/vuex-oidc-example/pull/20 shows all available tokens and expiration times in the example app

With those PRs together I can apparently use the example app with code/PKCE flow, see protected pages and (

[2020-04-15 18:54] GordonBlahut opened #94 "userLoaded fires before claims are ready"
When oidc-client-js does a silent renew via iframe, it also calls the userinfo endpoint (depending on the configuration of course) which refreshs the claims. That's great because it ensures claims are frequently updated.

But when the userLoaded event fires after a silent renew, that userinfo endpoint call may not have completed yet so while handling the event, the user's claims may be outdated.

[2020-04-15 19:14] #12 closed

[2020-04-16 04:59] perarnborg commented on #91
Perfect! See comments on #93. Good job!

[2020-04-16 10:22] dschmidt opened #95 "package cannot be used from git"
Hey Per,

for starters: thanks for the quick feedback loop in my other ticket/PRs :-)

While I was adjusting the PR according to your feedback, I noticed that it's not possible to simply use an unreleased version of this lib from Github.

There are basically two changes needed because the dist file is obviously missing from this repo (and gladly so, I really dislike compiled code in repositories):

[2020-04-16 13:17] perarnborg commented on #95
OK, let me just read up on this before I make these changes. I will publish the package to npm as soon as I merge the final PR.

[2020-04-16 13:28] dschmidt commented on #95
Yep, sure. I'm no expert on that topic either, I just like to be able to point to git revision from package.json :)

[2020-04-16 18:15] perarnborg commented on #12
Published in v3.5 .0

[2020-04-16 18:16] perarnborg commented on #91
Published in v3.5.0

[2020-04-16 18:25] perarnborg commented on #59
As of v3.5.0 there is now a setting to make the access_token control oidcIsAuthenticated

`oidcStore: vuexOidcCreateStoreModule(oidcSettings, { namespaced: true, isAuthenticatedBy: 'access_token' })`

[2020-04-16 18:25] #59 closed

[2020-04-16 18:25] #91 closed

[2020-04-16 18:27] #71 closed

[2020-04-16 18:28] #72 closed

[2020-04-16 18:30] #80 closed

[2020-04-16 18:31] #77 closed

[2020-04-16 18:34] perarnborg commented on #94
I need to look into this before I can  answer.

[2020-04-17 14:18] Doormouse2House commented on #59
Thanks @perarnborg.

[2020-04-27 19:08] luisfrocha commented on #82
I just tried this today, and though it opens the popup, I can't get the user info correctly in the callback page/route. Not sure why. I will continue investigating. The below code is in my store file for oidc. I'm using Nuxt, by the way.
`
    accessTokenExpired: () => {
      console.log( 'Access token did expire' );
      window.$nuxt.$store.dispatch( 'oidc/authenticateOidcPopup' );
},
`

[2020-04-29 20:49] GordonBlahut opened #98 "Various Typescript inconsistencies"
The wiki lists an `oidcError` event: ``oidcError: (payload) => console.log(`An error occured at ${payload.context}:`, payload.error)`` and states *The event oidcError is not from oidc-client, but is implemented in vuex-oidc.*

However, the type `VuexOidcStoreListeners` has no member `oidcError`.

The payload type in `VuexOidcStoreActions.authenticateOidc: (payload: { redirectPath?: string }) => Pr

[2020-04-30 16:46] GordonBlahut commented on #98
I'm also not sure if `VuexOidcStoreListeners.silentRenewError` is intended to be required, as the rest of the listeners are optional.

[2020-05-22 04:02] cocomilk2012 opened #99 "在用户未登录时调用getOidcUser会报错"
getOidcUser: function getOidcUser(context) {
      /* istanbul ignore next */
      return oidcUserManager.getUser().then(function (user) {
        if (user) {//添加null判断
          context.commit('setOidcUser', user);
        }
        return user;
      });
    },
这里需要添加判断是否null

[2020-05-24 12:07] sauravbhadani opened #100 "Unable to set the value of OidcSettings from Service"
Right now with the example provide of vuex-oidc,  OidcSettings is a constant values. I am updating the value of authority, clientId and redirectUri from another API to the constant file but it is not picking the updated value. Is there any way we can update the value before calling the oidc module.

[2020-05-27 07:36] olkkoo opened #101 "Login information is not saved"
I followed the wiki tutorial and almost got it working. Login is required correctly but on callback, the received details are not saved anywhere. The user is not really logged in. My '/' route is the only one not requiring authorization so the login process ends there - the place where it started after clicking to another route. If I make '/' private, too, then we have a looping effect of requirin

[2020-05-27 13:46] olkkoo commented on #101
I don't know what was really so different, but replacing the code with [the example code](https://github.com/perarnborg/vuex-oidc-example) fixed the issue.

[2020-05-27 13:46] #101 closed

[2020-06-06 21:50] perarnborg commented on #100
I think a way to do this would be to create the oidc store module dynamically, as I have suggested in #64.

A post on how to create modules dynamically: https://alligator.io/vuejs/vuex-dynamic-modules/

I have not tried this myself though.

[2020-06-06 21:52] perarnborg commented on #99
I am not sure I understand. What would you like to happen if the user is `null`?

[2020-06-10 04:25] perarnborg commented on #98
Thank you @GordonBlahut for looking into this. Will fix this soon!

[2020-06-10 08:42] larserikfinholt commented on #98
It seems like VuexOidcStoreSettings is missing
`isAuthenticatedBy: 'access_token'|'id_token'`

[2020-07-06 09:56] msodel commented on #64
You can pass payload object in `authenticateOidc `method like this:
[code]

[2020-07-14 21:41] esune opened #103 "Silent sign-out does not invalidate session cookies"
I am trying to get my webapp to silently sign-out without going through the IdP (Keycloak) by calling `unsetOidcAuth`.

This results in the app state being reset correctly, however it appears that the session cookies created by the IdP at login time are not being removed, causing an "auto-signin" event (no authentication page from the IdP is displayed) when accessing the application a second time.

[2020-07-15 09:23] cmkwzcs opened #104 "beforeEach vuexOidcCreateRouterMiddleware"
How do I use it correctly ?
I need to do someting in beforeEach.
but if i use next() in my code, it will do twice.
`router.beforeEach((to, from, next) => {
  NProgress.start();
  if (to.path == "/oidc-callback") {
    NProgress.done();
    // next();
  } else if (to.path === "/modules") {
    NProgress.done();
    // next();
  } else {
    //判断当前用户是否已拉取完user_info信息
    if (store.getters.need_refre

[2020-07-17 09:37] #104 closed

[2020-07-23 05:48] cmkwzcs opened #106 "get access_token (null) on Router.beforeEach"
store.state.oidcStore can get object info
but store.state.oidcStore.access_token it's null

[2020-07-27 12:02] aido179 opened #107 "getOidcUser throws TypeError after removeOidcUser"
Pretty sure this is related to issue #99

Reproduction:
[code]

There is no chaining check in getOidcUser so if ```user``` is null, ```user.profile``` throws an error.
In your reply to issue #99, you ask what should be done - I would say if user is null, getOidcUser should throw an error that explains that there is no user to get. Alternatively,  return null, false, an empty user object.

[2020-08-03 16:06] fazulk commented on #70
Have the some question here, Only thing I can think of is writing a substitution module for e2e testing..

[2020-08-04 21:00] esune commented on #100
This example may help: configurations are fetched by a config service and returned as promises. Once all promises required to initialize the web application are fulfilled, the Vue app is instantiated.

See:
 - [config service](https://github.com/bcgov/issuer-kit/blob/master/issuer-admin/src/services/config/index.ts)
 - [app main](https://github.com/bcgov/issuer-kit/blob/master/issuer-admin/src/mai

[2020-08-05 19:35] perarnborg commented on #103
Silent signout at the provider is not yet supported. It has been suggested to add support (#57) but I am not sure when I will have the time to look at that.

[2020-08-05 19:38] esune commented on #103
Thanks for the reply, I must have missed that other issue 🙂

[2020-08-05 19:39] perarnborg commented on #107
Perfect, good input! I will fix this so that getOidcUser returns null if there is no user. To me that feels better than throwing an error.

[2020-08-05 20:49] perarnborg commented on #107
Fixed as of v3.5.2

[2020-08-05 20:50] perarnborg commented on #99
Fixed as of v3.5.2, if I understand this correctly.

[2020-08-05 20:55] #98 closed

[2020-08-05 20:58] perarnborg commented on #98
Fixed as of v3.5.3

[2020-08-06 20:41] larzon83 commented on #70
I have the same question(s). We're using keycloak and my (not implemented) idea was:

- use CI (of course :))
- start a local keycloak-server
- configure it to mimic your real server
- allow and use implicit flow for the target-client inside the realm
- set token expiration comfortable high
- set this local keycloak-server as authority in vuex-oidc settings while in e2e environment
- in cypress:
-

[2020-08-14 20:31] #107 closed

[2020-08-14 20:32] #99 closed

[2020-08-14 20:45] perarnborg commented on #70
I have not written tests in Cypress, but as I understand it Cypress uses sinon so couldn't stubbing functions in oidc-client be a good option here ([Cypress' stub documentation](https://docs.cypress.io/guides/guides/stubs-spies-and-clocks.html))?

This project stubs the getUser method of oidc-client's UserManager class in some of it's unit tests. I like this approach more than exposing methods to

[2020-08-17 15:56] GordonBlahut opened #112 "authenticateOidcSilent no longer returns a promise"
https://github.com/perarnborg/vuex-oidc/blob/30c0a1b30a9ab4183b2266c99933d0ea86b78c04/src/store/create-store-module.js#L239-L241

Shouldn't the call to the inner `authenticateOidcSilent` be returned here? It's no longer possible to await the promise.

[2020-08-17 16:22] GordonBlahut opened #113 "getOidcUser wrong return type (TypeScript)"
https://github.com/perarnborg/vuex-oidc/blob/30c0a1b30a9ab4183b2266c99933d0ea86b78c04/index.d.ts#L120

`getOidcUser: () => () => Promise<User>; ` should be `getOidcUser: () => Promise<User>;`

[2020-08-17 21:22] perarnborg commented on #112
Indeed it should! Thank you, fixed as of v3.7.1

[2020-08-17 21:22] #112 closed

[2020-08-17 21:23] perarnborg commented on #113
Thank you for pointing this out! Fixed as of v3.7.1

[2020-08-17 21:23] #113 closed

[2020-08-18 06:22] iamsurajdc opened #114 "AutomaticSilentRenew function not working!"
Hi,

- We are trying to implement OIDC for user onboarding from our main platform to our secondary platform
- While calling AutomaticSilentRenew function it leaves following error:
- Is there anyhting wrong here (PFA)

 **OIDC config Object:**
`VUE_APP_OIDC_CONFIG={"authority": "https://auth.mainPlatform.com", "clientId": "<client-id>", "redirectUri": "http://localhost:8080/oidc-callback", "popupR

[2020-08-18 17:51] perarnborg commented on #106
I can not reproduce this. Do you see any difference in the state object in beforeEach compared to what you see in the store in other contexts?

[2020-08-18 19:18] perarnborg commented on #114
There is nothing obviously wrong in your setup. This error is thrown by the oidc-client lib [here](https://github.com/IdentityModel/oidc-client-js/blob/3004ff34efa44a83b0ea1bd731be48b710df47d4/src/UserManager.js#L405) and indicates that the silent signin request in the iframe does not find the same signed in user at the provider as the parent window (your app) has.

It sounds like it could be a co

[2020-08-18 19:25] perarnborg commented on #103
As of v3.8.0 there is a signOutOidcSilent action that can be used for this.

[2020-08-18 19:25] perarnborg commented on #57
As of v3.8.0 there is a signOutOidcSilent action that implements this. The signout is performed in a hidden iframe.

[2020-08-18 19:50] #7 closed

[2020-08-18 19:51] #28 closed

[2020-08-18 20:00] #43 closed

[2020-08-18 20:03] perarnborg commented on #63
@alexsandro-xpt Not sure if this is still relevant, but as of v3.8.0 the middleware will try to make à silent authentication before redirecting the user ti the provider.

Do you still think it would be useful to parameterize the middleware behaviour?

[2020-08-24 15:12] larzon83 commented on #70
thx for your input. I've found a way to trick my app to always think it's logged in:
- I generated a long lived token by setting `SSO Session Idle` in keycloak to 3000 days -> valid till 2028
- Logged into my dev app that I use for e2e testing and grabbed the whole `oidc.user ...` object from localStorage and putted it into a js file like so:
[code]
- Then I added a `window:before:load` hook in th

[2020-08-24 16:07] esune commented on #103
Thank you! I will update my plugin and code asap and report back.

[2020-08-25 00:10] esune commented on #103
I am not sure on whether I am doing something wrong, but it doesn't seem to be working for me: I am using the new `signOutOidcSilent` and the user seem to be signed-out (the authentication info in the header - driven by the current `oidcUser` - disappears), however I can still see the session tokens in the browser storage and when I re-access the resource it detects the previously signed-in user r

[2020-08-26 02:05] apavelm opened #118 "Unable to catch event when SilentTokenRenew fails because of IdSrv session ended."
For Single-Page Application doesn't matter if IdSrv session is closed if SPA has a bearer token to communicate with API. But this fact makes impossible to renew token.

I need to remove all auth data in case if on silent token renew figured out that session was closed/invalid.

PR #117

[2020-08-26 02:08] apavelm commented on #118
@perarnborg It would be very nice if you could add an option to signOut automatically in case in SilentTokenRenew failed or session became invalid.

[2020-08-27 08:20] perarnborg commented on #118
I will look at this (and #117) within the next few days!

[2020-08-27 12:51] Amoki opened #119 "authenticateOidcSilent with Authentication code with PKCE"
If we're using Authorization Code Flow with PKCE (`"responseType": "code"` without a backend), we can have a silent refresh without using a `silent_redirect_uri`.

The `authenticateSilently` currently depends on a `silent_redirect_uri` (https://github.com/perarnborg/vuex-oidc/blob/master/src/store/create-store-module.js#L159).

I can submit a PR but I'm not sure about the best way to fix this issu

[2020-08-27 13:23] Amoki commented on #119
Hmm, I may confuse automaticSilentSignin with automaticSilentRenew. I'll reopen this issue when I'm sure

[2020-08-27 13:23] #119 closed

[2020-08-28 11:00] olkkoo commented on #94
I think I faced almost the same situation. I'm not sure about what silent renew or iframe have to do with this.

On my App.vue, I have

[code]

When I'm redirected back from identity provider, the event is raised at some point when the user obviously should be loaded. However, `store.state.oidcStore.user` remains null.

I would assume that user was already saved to store when `userLoaded` event wa

[2020-08-28 18:06] perarnborg commented on #94
@olkkoo I understand that this is confusing. The event is dispatched from oidc-client, and it will be triggered before the user is set in the store by vuex-oidc.So while the user is null in the store in your case it is just about to be set to the value of e.detail.

Perhaps I should look into changing this.

@GordonBlahut This was reported a while ago, but do you remember if this could be the same

[2020-08-28 19:30] GordonBlahut commented on #94
It doesn't sound like the same issue I was having.

My issue was due to claims being refreshed after `userLoaded` fires due to the nature of `oidc-client`. I think I worked around it by just not checking any claims in `userLoaded`. Instead I just made an observable wrapper around claims so that I could react to claims changes/update UI.

I haven't run into any situations where the user not being i

[2020-08-29 08:21] perarnborg commented on #118
As of v3.9.0 vuexOidcProcessSilentSignInCallback returns a promise that can be caught.

Regarding the request for having an option to sign out automatically: Different implementations have very different behaviours – if they want to sign out the user or not, but also what signing out the user means (in app or at provider, maybe redirecting the user somewhere like public front page or sign in page.

[2020-08-29 08:23] perarnborg commented on #103
OK, I will have a another look at this!

[2020-08-29 20:14] coolhome opened #121 "Silent Authentication On Page Load / Public Route Issue"
When `silentRedirectUri` is set, it is not considered a public route. On page load it will attempt to authenticate silent BUT the router middleware will intercept the silent renew callback and force a redirect authentication in the middle of a silent authenticate.

Resulting in two/three authorize calls by the end of the first completed login. Both a silent renew AND redirect authentication occurs

[2020-08-30 12:56] coolhome commented on #63
This seems like https://github.com/perarnborg/vuex-oidc/issues/121 may resolve this issue.

[2020-08-30 14:21] ux-engineer commented on #121
I've implemented a different kind of use case with this library, of not using vuexOidcCreateRouterMiddleware() and not creating a view for OidcCallback route, but rather using redirects in auth guard level.

With this approach I can have all the auth flow logic in two files src/router/auth/guard.ts and src/router/auth/listeners.ts instead of having to jump between files to grasp how the flow goes.

[2020-08-30 14:40] ux-engineer commented on #35
`'userStore' does not exist in type 'VuexOidcClientSettings'.ts(2345)`

[2020-08-30 17:06] perarnborg opened #123 "Use createUserManager in processSilentSignInCallback"
See comments in #122

[2020-08-30 17:17] perarnborg commented on #121
Thanks @coolhome your PR is published in v3.9.1.

@ux-engineer If you put together an example rep I can link to it from the docs!

[2020-08-30 19:37] #121 closed

[2020-08-30 19:41] perarnborg commented on #100
Thanks @esune for providing an example! This looks lika a reasonable approach to me!

[2020-08-30 19:41] #64 closed

[2020-08-30 19:44] perarnborg commented on #94
I’ll close this for now, feel free to regimen if you want to discuss it some more.

[2020-08-30 19:44] #94 closed

[2020-08-30 19:47] perarnborg commented on #70
Thank you for sharing @larzon83.

I’ll close this for now, please reopen if you want to discuss this some more.

[2020-08-30 19:47] #70 closed

[2020-08-30 19:49] #100 closed

[2020-08-30 19:50] #118 closed

[2020-08-30 19:54] coolhome commented on #103
@esune are you using SilentSignIn as well? You may need to upgrade to v3.9.1 which contains https://github.com/perarnborg/vuex-oidc/pull/122

Before this patch I noticed it was creating two sessions (silent and redirect) in localstorage, I wonder if this could be part of the problem.

[2020-08-31 20:36] esune commented on #103
Yes, I am using `SilentSignIn`. I bumped my version to `3.9.1`, but the user seems to not be completely signed out when dispatching `signOutOidcSilent`. I can see *some* of the cookies set on the URL of the authentication service (in my case Keycloak) are erased (the ones names `..._LEGACY`), however the `AUTH_SESSION_ID` cookie persists so when I switch views in my web application the user appear

[2020-09-01 18:09] perarnborg commented on #103
@esune So signOutOidc works for you (it removes all storage for the session at the provider)?

[2020-09-01 18:23] esune commented on #103
I will triple check again as soon as I have a minute, but I believe so - it signs me out and sends me back to the IdP authentication screen

[2020-09-01 19:31] perarnborg commented on #103
Ok I have an idea of what can be missing in my implementation. I will provide a patch as soon as I can.

[2020-09-01 20:20] coolhome opened #124 "authenticateOidcSilent fallback?"
Setup:
Redirect URI
Silent Renew URI
Automatic Silent SignIn = true (with redirect in same vue app unlike demo app)
Automatic Silent Renew = true

Problem:
Invalid state when silent renew fails because prompt=none does not satisfy IdP login response. The library starts to check access, initiates a silent renew, loads previous user data from store. At this point I have an access token loaded, used

[2020-09-01 20:36] coolhome commented on #124
Pretty confident these are related

#19

[2020-09-01 21:00] coolhome commented on #124
This snippet allowed me to workaround the issue, not as nicely as I would hope. I'm pretty positive we want to make `_authenticateOidcSilent` throw on error AND fallback to `authenticate` like it would if it could not find the user.

[code]

[2020-09-01 21:53] perarnborg commented on #103
@esune Could you try again after updating to v3.9.2?

[2020-09-01 22:12] perarnborg commented on #124
You are correct I beleive, the function should throw an error in this case! Will fix within short!

[2020-09-02 00:08] apavelm commented on #124
Just wanted to report the same 👍

[2020-09-02 02:05] perarnborg commented on #103
...sorry, make that v3.9.3

[2020-09-02 02:33] perarnborg commented on #124
@coolhome Thanks for a detailed issue report! This should be fixed en v3.9.5.

[2020-09-02 14:06] coolhome commented on #124
Worked perfectly! Thanks @perarnborg

[2020-09-02 14:06] #124 closed

[2020-09-02 18:41] esune commented on #103
I tried with the latest v3.9.5: unfortunately it still doesn't completely sign-out the user.

I had a bit more time to poke around and the session cookies may not be the issue (anymore). I noticed that when `signOutOidcSilent` is dispatched, an item named `oidc.user:http://localhost:8180/auth/realms/issuer-kit:issuer-kit-public` remains in the browser's local storage for the application while the

[2020-09-02 20:15] perarnborg commented on #103
@esune Thank you for digging into this, this was helpful! If you have the time to try out v3.9.6, the user should get removed from the storage now.

[2020-09-02 21:17] esune commented on #103
@perarnborg yup, that seems to have done it. Dispatching `signOutOidcSilent` removes the user from storage and kills the active session so any request to resources that require authentication will now trigger a new login flow. Thanks!

[2020-09-03 01:18] perarnborg commented on #57
Update: Use at least v3.9.6 if you want to use signOutOidcSilent.

[2020-09-03 01:18] #57 closed

[2020-09-03 01:22] #76 closed

[2020-09-03 01:44] perarnborg commented on #81
@ux-engineer Is this still an issue for you? I can't see that this library should be doing anything that messes with vue-routers api.

[2020-09-03 02:05] apavelm opened #125 "vuexOidcProcessSilentSignInCallback issue again"
Today I gave a try to updated version (3.9.5) and faced with a strange behavior. I'm not sure that it is related to "vuex-oidc" or this is a bug of "oidc-client-js".

Given: I have an application where for testing purposes I added 2 ways of token renewal:
1) Classic by using **automaticSilentRenew: true** in oidc config
2) Manual, by clicking a button
![image](https://user-images.githubusercontent

[2020-09-03 02:16] apavelm opened #126 "vuexOidcSignOut to be exposed"
This is discussable. And could be considered as a feature request.

Normally, page for silent token-renewal is a lightweight (I believe this is good) and not connected to main Vue application.
In other words it looks like
![image](https://user-images.githubusercontent.com/6442445/92063614-e5136e80-edde-11ea-8d28-e9176f767c8e.png)

For some use-cases user needs to do a signout when catching an erro

[2020-09-03 05:25] ux-engineer commented on #81
@perarnborg I'm working on a new app and have ported previous version of vuex-oidc implementation there. So far things have been working better, as with the previous project there was some edge cases, especially one case noticeable with Firefox (related to History API it seemed, working somehow differently as used by vue-router).

It seems these lately done fixes to this library may have fixed tho

[2020-09-03 07:15] perarnborg commented on #81
OK, sounds good! I will close this issue for now, feel free to open again if you wish.

[2020-09-03 07:15] #81 closed

[2020-09-03 07:27] perarnborg commented on #125
OK, thanks for reporting! I will look at this as soon as I find the time!

[2020-09-03 07:44] apavelm commented on #125
@perarnborg Thank you for response and promise to have a look :-)

Just have checked a code little deeper.
Probably a quick fix will be to replace
this (highlighted)
![image](https://user-images.githubusercontent.com/6442445/92085886-ca57ee80-ee0c-11ea-86d7-1f3aced3086d.png)

by this (highlighted)

![image](https://user-images.githubusercontent.com/6442445/92085985-e8bdea00-ee0c-11ea-85df-5c4679d7

[2020-09-03 17:15] #103 closed

[2020-09-04 17:31] glennsills opened #127 "Stalled GET connect/userinfo Question"
We are seeing an interesting issue that happens when we deploy our application to different kubernetes clusters.

The login process (against identity server4) works fine in most cases, but in some, the call to connect/userinfo is cancelled in the browser. The preflight Origin request returns a 204 in every case (when it works and when it doesn't work). When it doesn't work the status of the GET is

[2020-09-05 21:30] perarnborg commented on #125
@apavelm The change you suggest is actually already suggested in #123 – but I do not think that this is the cause of your problem.

The callback method UserManager.signinSilentCallback of oidc-client will never throw an error – not for the automatic silent renewal or one that is manually triggered. The error when silent signin fails can only be caught in UserManager.signinSilent – like you do with

[2020-09-06 03:10] perarnborg commented on #126
It could possibly be a good idea to expose the signout triggers, although I am not certain and in this case it would not really work.

First of all as far as I can see you cannot count on the fact that `siginSilentCallback` (that ´vuexProccessSilentSigninCallback´ returns) gets rejected when the signin fails – see comment in #125 .

And secondly this code runs in an iframe, so this is not where yo

[2020-09-06 19:42] perarnborg commented on #125
@apavelm As of v3.9.7 there is a automaticSilentRenewError event that you can add a listener for to catch when automatic silent renew fails.

See [events](https://github.com/perarnborg/vuex-oidc/wiki#10-optional-setup-oidc-client-event-listeners) in docs

[2020-09-06 20:12] coolhome commented on #127
This is definitely not related to this project. I think what you are experiencing is CORS and the browser preventing the `GET` requests.

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request

[2020-09-07 00:08] apavelm commented on #125
@perarnborg Thank you for the fast modification.

Unfortunately, it doesn't work, at least for me.
Maybe I'm doing something wrong, but I'm not sure. It's hard to add a listener wrong way

1) I updated library to 3.9.7
2) added listeners
![image](https://user-images.githubusercontent.com/6442445/92338101-5ca01100-f0f1-11ea-8c37-14df8f30d353.png)
3) removed session cookies and updated the page to t

[2020-09-07 07:28] perarnborg commented on #125
OK, looks correct to me so I will need to look at this again to see why id doesn't work. Let me know if you find anything!

[2020-09-07 22:32] perarnborg commented on #123
After looking at this again, I beleive we should not do this, given how UserManager in oidc-client works. If we use createUserManager with the app's oidcConfig we would need to adjust the config (like turning of automaticSilentRenew) since a lot of things happen in the constructor of the class depending on the config you pass.

`oidc.UserManager().signinSilentCallback()` is how it's done in the sa

[2020-09-07 22:32] #123 closed

[2020-09-08 12:46] glennsills commented on #127
I agree but I was a bit desperate.

[2020-09-08 12:46] #127 closed

[2020-09-11 12:20] Samtronic opened #129 "Error with authenticateOidcSilent"
I install the last version 3.9.7 since I have error.
This is a log of event "oidcError"
An error occured at authenticateOidcSilent: End-User authentication is required
oidc-client.min.js?dd17:1 Uncaught (in promise) ErrorResponse: End-User authentication is required
    at new e (oidc-client.min.js?dd17:1)
    at t [as _processSigninParams] (oidc-client.min.js?dd17:1)
    at t [as validateSigninRe

[2020-09-11 12:56] perarnborg commented on #129
@Samtronic When does this error appear? Is it when the application tries to renew the authentication? Or when the user visits a route?

[2020-09-11 13:02] Samtronic commented on #129
When the user is not logged and when the token is about to expiring. The behavior of authenticateOidcSilent is different since update

[2020-09-11 20:34] perarnborg commented on #129
@Samtronic Can you check what version of oidc-client you have installed?

[2020-09-11 20:35] perarnborg commented on #125
@apavelm Can you check what version of oidc-client you have installed?

[2020-09-11 20:39] Samtronic commented on #129
Version 1.10.1

[2020-09-11 23:13] apavelm commented on #125
@perarnborg
"oidc-client": "^1.10.1"

I did a workaround, by disabling "automatic silent renew" and listening OnTokenExpiring/OnTokenExpired to call silent renew manually (to be able to use "catch")

[2020-09-13 17:09] ux-engineer commented on #41
This syntax may also be used:

[code]

[2020-09-14 04:54] perarnborg commented on #129
@Samtronic Thank you for your help in pointing this out! The error should be gone in v3.9.8. Let me know if not!

[2020-09-14 09:14] perarnborg commented on #125
I cannot reproduce this, strange that the event does not seam to be dispatched for you. I did a small alteration in v3.9.8, it might work better with that if you want to try.

Anyway, if you are doing the manual renewal by dispatching the `authenticateOidcSilent` your work around should work well.

[2020-09-14 11:32] apavelm commented on #125
I did a workaround on this by disabling "auto-renew" feature + subscribing to OnTokenExpiring event to renew the token manually (because only on manual renewal I am able to catch exceptions)

Thanks, anyway. Hope it will be useful for others.

[2020-09-14 12:49] Samtronic commented on #129
When I am not logged, I have now the message from only "oidcError" event. **An error occured at authenticateOidcSilent: End-User authentication is required**

When I am logged, and the Token is about to expired. I have again  both message from "oidcError" event and "oidc-client"

An error occured at authenticateOidcSilent: End-User authentication is required
oidc-client.min.js?dd17:1 Uncaught (in

[2020-09-16 16:07] Chuck-Work-Bots commented on #87
Hello @perarnborg ,

`publicRoutePaths` doesn't appear to be working in Nuxt with dynamic routes with slugs, so it isn't a full solution.

To handle the meta array, the Nuxt docs use the latest route child:

https://github.com/nuxt/nuxt.js/blob/b83b5675043ebdfec3398bd83fd27dfe77cdd620/examples/routes-meta/middleware/theme.js#L1-L4

So `if (route.meta && route.meta.reduce((isPublic, meta) => meta.i

[2020-09-16 19:13] Khaos66 opened #130 "Endless Auth-Loop"
I followed the wiki to configure the vuex-oidc module.
Plus, I use IdentityServer4, if that matters...

When I access a restricted route, I get redirected to the login page.
These are the requests from Chromes DevTools:
1. https://localhost:5001/connect/authorize?client_id=MyApp&redirect_uri=http%3A%2F%2Flocalhost%3A8081%2Flogin-callback&response_type=code&scope=openid%20profile%20myapp&state=2a4f

[2020-09-16 21:03] rodrigocvb opened #131 "Where is the token stored?"
As far as I know, Vuex stores data in memory. Does that mean that vuex-oidc should be saving the access token in memory too once it's vuex-based? Because I run the [example](https://github.com/perarnborg/vuex-oidc-example) and I can see the token in localStorage. Could anyone clarify this please?

[2020-09-17 05:33] Khaos66 commented on #130
These are my dependencies
[code]

[2020-09-17 15:05] Khaos66 commented on #130
NVM I found the issue. I made an error while setting up IdentityServer. I forgot to allow all CORS headers and methods.

[2020-09-17 15:05] #130 closed

[2020-09-17 18:19] Khaos66 commented on #131
I believe the token is not persisted anywhere by this library. The user is reauthenticated every time he visits the page.
But the authentication provider can cache the login in his domain. Mostly as cookies, I guess. So he will return a valid token without another login.

I can be wrong, but this is what I found out. Hope it helps.

Also, if you really want to make the oidc store persistend, then

[2020-09-17 19:34] perarnborg commented on #131
@rodrigocvb vuex-oidc only stores the tokens in memory, unless you configure your vuex store to be persisted like @Khaos66 mentions.

The oidc-client library that vuex-oidc uses uses localStorage (or sessionStorage, depending on your setup) to keep track of nounces and states in the authentication process. You will see something like

[code]
The actual id and access tokens are not stored in the br

[2020-09-17 19:54] perarnborg commented on #87
Thanks @Chuck-Work-Bots for the example of a "nuxt way" to check the meta.

[2020-09-17 20:02] perarnborg commented on #87
@volvotrax Sorry that this took so long. I will fix the behaviour of storeSettings.isPublicRoute being ignored when publicRoutePaths is set, it feels like that was a bug.

[2020-09-17 20:41] perarnborg commented on #87
As of v3.10.0 this should be fixed.

[2020-09-17 20:58] larzon83 commented on #131
Tokens are stored in localStorage or sessionStorage:

<img width="587" alt="tokens" src="https://user-images.githubusercontent.com/23213583/93527473-37a16e80-f939-11ea-9656-076acf52c42c.png">

[2020-09-18 18:28] rodrigocvb commented on #131
Thanks for the responses. I see the same as @larzon83. My access token appears in localStorage. But I'd not like to store the token in localStorage or sessionStorage. I'd rather store it in memory, by using InMemoryWebStorage, as mentioned in this [oidc-client's issue](https://github.com/IdentityModel/oidc-client-js/issues/888). Is that possible?

[2020-09-18 19:29] Samtronic commented on #129
Hi,

I try version 3.10.0 and when I am not logged the event oidcError event is gone, but I have always the same error on authenticateOidcSilent (accessTokenExpired).

Thanks

[2020-09-18 19:41] anbraten commented on #55
I would like to check `oidcIsAuthenticated` in a component route guard. But it seems the store / auth state isn't loaded at that point. Awaiting with `await store.dispatch('oidc/getOidcUser');` doesn't seem to help here. Would be nice to use something similar to `oidcCheckAccess` that only loads the store from `oidc-client` without redirecting? 🤔

[code]

[2020-09-22 07:41] ux-engineer opened #134 "Support for Vuex 4 and Vue 3?"
Sorry if this is a non-issue, as I haven't upgraded this part of my codebase...

Now that Vue 3.0 reached stable version, with Vuex 4 still in beta, how are your plans on upgrading for supporting these new versions?

[2020-09-22 10:24] perarnborg commented on #134
Based on what I have seen I think there should not be anything preventing using the latest version of vuex-oidc with Vue3 – but I have planned to take a closer look at that, and also updating the documentation. I will do this as soon as possible.

Another question that I haven't thought so much about is if we should take advantage of the Composition API in any way to improve dev exprience when imp

[2020-09-24 18:18] ux-engineer commented on #134
Please remember to test using TypeScript!

Have been upgrading to Vuex 4 using TypeScript. There doesn't seem to be official examples for using modules with TS... Found some examples and put together a setup which preliminarily seems to work. Moving on to adding vuex-oidc module into the mix...

[2020-09-27 19:13] ux-engineer commented on #134
Here's my store module:

[code]

Working quite well but with a few remaining typing problems as in an example demonstrated here: https://stackoverflow.com/questions/64080549/using-vuex-4-modules-in-vue-3-with-typescript-and-how-to-fix-cyclical-dependenc

[2020-09-30 14:35] ux-engineer opened #135 "Add setting for path where user is routed after successful authentication?"
This `redirectUri` configuration value has caused some confusion, which I'm quite sure has done so for others as well.

Your [example repo](https://github.com/perarnborg/vuex-oidc-example) currently has this file `vuex-oidc-example/src/views/OidcCallback.vue`:

[code]

So basically when user is routed to this view, vuex-oidc library redirects (if I understand correctly, at this point redir is done

[2020-09-30 15:01] ux-engineer commented on #135
Or with the new experimental Script Setup syntax with Composition API:

[code]

[2020-10-01 15:00] hawkstalion commented on #125
Can you tell me how you renewed the token manually? By calling a function in this library or doing the refresh request manually?

[2020-10-01 23:51] apavelm commented on #125
I disable an auto-renewal and listening for tokenExpiring event. When it triggers, I manually call a renewal. When I do it manually I can catch exceptions.

[2020-10-05 07:11] tomqwpl opened #136 "Typings for oidcError/automaticSilentRenewError callback do not declare they takes a payload"
When called, the error payload is passed. The typescript typing doesn't reflect this.

[2020-10-05 12:10] hawkstalion commented on #125
We figured out the issue with ours, the vuex-persist library was interfering, i excluded the vuex-oidc module from it and it worked perfectly.

[2020-10-05 13:14] cdshotels-liborpansky commented on #129
Hi, I've just updated `vuex-oidc` from v. 1.14.0 to 3.10.0 and `oidc-client` 1.6.1 to 1.10.1 and I have the same problem. When I set expiration to 65 seconds in dev environment, silent renew works correctly and gets refreshed every time without any issue.

When standard token expires for users in staging environment after several hours, I receive the same error as Samtronic **An error occured at a

[2020-10-08 16:48] GordonBlahut opened #138 "Expose UserManager"
Is it possible to expose access to the UserManager for lower level access (even if it's marked as not-recommended/at your own risk, etc.)? For example, to workaround a limitation in oidc-client where the claims are not refreshed after silent renew for clients using refresh tokens:
https://github.com/IdentityModel/oidc-client-js/issues/1034

[2020-10-09 19:08] perarnborg commented on #136
Thanks for reporting! Should be fixed in v3.10.1

[2020-10-09 19:08] #136 closed

[2020-10-09 19:10] perarnborg commented on #129
Not certain, but could be fixed in v3.10.1.

[2020-10-09 19:15] GordonBlahut commented on #138
That's right. My understanding is that it's better not to have multiple UserManager instances at the same time so it would be ideal to get a reference to the same instance.

[2020-10-10 15:30] Samtronic commented on #129
Again the same error for me

[2020-10-11 14:24] coolhome commented on #129
@Samtronic are the redirect and silent renew callback the same SPA or an external html file? I wonder if there is a different in the setup + config.

[2020-10-12 08:14] cdshotels-liborpansky commented on #129
@coolhome Your PR resolved my problem, thanks man! 👍

[2020-10-12 15:50] Samtronic commented on #129
@coolhome I took the example [here](https://github.com/perarnborg/vuex-oidc-example). And I put my authentication info and I got the same error message.

Oidc config:
export const oidcSettings = {
  authority: `https://exemple.com/oauth2/auth`,
  client_id: 'gestionreseau',
  redirect_uri: `https://gestionreseau.localhost:8080/oidc-callback/`,
  response_type: 'id_token token',
  scope: 'openid pr

[2020-10-12 15:50] Samtronic commented on #129
@cdshotels-liborpansky How you solve your issue ?

[2020-10-12 19:10] ux-engineer opened #139 "How to discern user is not authenticated but has returned from oidc callback return address and is still processing?"
I'd like to display "Routing to authentication service..." message to the user, and once returned back to oidcCallback address from the authentication server, I'd like to display a different message like "Processing authentication...".

How to discern that the user is not authenticated and has not gone to the authentication server yet?

For now it seems I may need to discern this "processing authe

[2020-10-12 19:44] ux-engineer commented on #139
Basically I had to do this kind of logic: `!oidcAccessToken && !(window.location.pathname === '/oidc-callback') ? 'Routing to authentication service...'  : !oidcAuthenticationIsChecked ? 'Processing authentication...' : 'Fetching data...'` where the message is hidden after account's data has been fetched.

So could we add some boolean getter to discern whether authentication process is bootstrappi

[2020-10-12 21:57] coolhome commented on #129
@Samtronic I see you have `silent-renew-oidc.html` and I'm wondering if this is part of the same Single Page Application or a separate html file like in the demo repo? I would suggest doing it the same way as the wiki instead of sample project.

Outside of that guess I am afraid I won't be much help.

[2020-10-13 06:47] ux-engineer commented on #129
@coolhome you can use `vue.config.js` multipage setup:

[code]
`src/silentRenewOidc.ts`
[code]

[2020-10-13 12:17] droid001 opened #140 "Oidc-client is set as both peer and dev dependency"
A dependency error is thrown when installing the package :
[code]

[2020-10-14 13:08] Samtronic commented on #129
Thanks everyone for your help, but I still have the same problem. I'll look at the logs on the OIDC server to see if I can't find something

[2020-10-16 09:09] yoshiyes commented on #135
Hello,
@ux-engineer If you want to easily redirect the user to a specific page after login, you can simply use :

[code]

[2020-10-22 17:39] korggy opened #141 "How to access the store from within an event handler?"
I am following the instructions at [Optional: setup oidc-client event listeners](https://github.com/perarnborg/vuex-oidc/wiki#10-optional-setup-oidc-client-event-listeners) to catch the userLoaded event. When this happens I want to make a call to my back-end api to retrieve other user-related data I want to add to the store. Can I access the store from within one of these event handlers, or do I n

[2020-10-22 17:49] ux-engineer commented on #141
@korggy we have a separate listeners file. There we can import store instance and use it within event handler functions.

Or this kind of syntax can work within a callback function:

[code]

If your `src/store/index.js` has a function to return the store instance...perhaps in this case you could just export store constant, but this follows Vue 3 Composition API and composable style use function ar

[2020-10-22 19:16] Tiagoalbuquerque2302 opened #142 "Invalid_Grant error when updating nuxtJS vuex-oidc token with automaticSilentRenew option using Keycloak"
I would like to update the Keycloak access token at login with nuxtJS using vuex-oidc, however I get the error invalid-grant when the token expires and the user is logged out. I need the user to stay logged in whenever and when the token expires, a new one is requested through refresh_token.

    Error: ... /protocol /openid-connect/ token 400

I tried to add the following to oidcSettings:

    ex

[2020-10-24 01:10] noeguer opened #143 "OidcSetting from Api endpoint"
How to load OidcSetting from endpoint API.
Currently with Axios I always get a:
"quiered oidc meeting authority missing for creating Usermanager"
Is trying to create the store when the json is not loaded I guess.

[2020-10-29 10:17] invokermain opened #144 "Vuex-oidc does not seem aware that ID Token has expired?"
I recently switched from using a modified oidc.js to using this package as adopted Vuex in my app.

So far it has been great, but I have run into an issue where my API refuses to handle the id token as it has expired. Meanwhile vuex-oidc seems to not care that it has expired. I am going to guess the issue is with my IS setup (keycloak).

I was wondering if someone could see my vuex-oidc config and

[2020-10-29 12:20] invokermain commented on #114
I'm having the same issue.

This is the error coming back from the IS: `state from argument: d03ed2b5b55d4edea6bc9a67fd4cbe35 does not match state restored from session: c2c9851749143f1e3afbade71ecb79f6`.

[2020-10-29 21:48] perarnborg commented on #140
Thanks for pointing this out! Removed the redundant dev dep in https://github.com/perarnborg/vuex-oidc/commit/3a49a7594c7e9f2ceefb5eecb35cc384f8801a02

To be published.

[2020-11-03 22:49] perarnborg commented on #143
There have been requests for this previously. Please check out my suggestions in #46 and #100

[2020-11-04 03:06] perarnborg commented on #142
automaticSilentRenew means you want to refresh the authentication just before it expires.

automaticSilentSignin means that if the user is not signed in, the app will try to make a silent signin, ans sign in the user in your app if they are signed in at the provider.

So automaticSilentRenew should be enough.

It looks like you get this error in the request that is made to the provider? If that is

[2020-11-04 03:22] perarnborg commented on #144
oidc-client will use the refresh_token if your IS provides it, but if it does not an authentication will be performed in a hidden iframe, so not having the refresh_token is only a problem if you thought your IS was configured to use refresh tokens.

Are you sending the id_token and not the access_token to your api? What is the reason for this?

There are no events when id_token expires, however I

[2020-11-04 16:25] cmfc31 opened #145 "automaticSilentSignin doesn't sign me back on webpack devserver"
automaticSilentSignin only works for me when I run my project in production mode, when I run the project in development mode and refresh the page doesn't sign me back as it does in production, is there any workaround for this?, I remember you mentioned something in a previous issue about the hot reload messing things up.

Doing changes and tests in production mode takes too much time for me becaus

[2020-11-04 17:48] cmfc31 commented on #145
Oh, found the problem. It's my bad. On my router config I conditioned the vuexOidc middleware to only work in production. Removed the condition and everything's working well in development now. I'll close the issue.

[code]

[2020-11-04 17:48] #145 closed

[2020-11-04 19:09] perarnborg commented on #140
There was some confusion here. The reason it is a dev dep is so that the unit tests (that need oidc-client) can run on Travis! So I took back the dev dep, but with the same version as the peer dep.

[2020-11-10 18:08] invokermain commented on #144
Thanks for the reply!

Yes currently I am only using sending the id_token to the API. The motivation being I don't need the access token as any logged in user has access to my API, but I want the API to know who is calling it. So I thought why use the access token if it isn't required. There is nothing screaming at me to use the access token. The fact that I can specify my response_type to be id_t

[2020-11-11 11:40] tianqinqin opened #146 "How to do single sign-on without refresh"
The requirement is to call the back end to get the relevant token after logging in and then jump to the front end. The front end can get the relevant token through the URL, so how can the front end use this token to achieve logon without refreshing

Get the access_Token from the URL and then hold it and do a single sign-on with the access_Token

Can anyone help me

[2020-11-11 19:49] perarnborg commented on #146
I am not sure I understand you completely. When you say you want the front end to achieve logon without refreshing – what exactly do you mean?

[2020-11-11 20:16] perarnborg commented on #144
The general idea of the open id tokens is that an id_token is issued for a specific client (your Vue app) and is used to provide user information for the client, and it should only be used by that client. An access_token on the other hand is meant to authorize the user to an api. So even though you technically can use the id_token like you do it goes against the grain of the way open id is thought

[2020-11-11 20:35] #140 closed

[2020-11-15 21:17] korggy opened #147 "How to refresh claims from the IP?"
I want to give the authenticated user a hyperlink to the Identity Provider so they can update their user profile (name, email address, etc), then I want to grab the user's updated claims when they return to my app. How do I tell vuex-oidc & oidc-client to clear the locally cached user profile and reload all claims from the IP?

Things I've tried:

1. getOidcUser. That just reloads the user from th

[2020-11-16 04:43] tianqinqin commented on #146
I get access_token through the URL returned by the back end, for example, the return message is`{id_token:'***',access_token:'***',token_type:Bearer,expires_in:86400,scope:'***',state:'***',session_state:'**'}`,I took one of them` {
          access_token: '***',
          token_type: '***',
          id_token:'***',
          scope: '***',
          session_state: '***'
        }`,To make up[oidc

[2020-11-18 01:30] tianqinqin commented on #146
I get access_token through the URL returned by the back end, for example, the return message is`{id_token:'***',access_token:'***',token_type:Bearer,expires_in:86400,scope:'***',state:'***',session_state:'**'}`,I took one of them` {
          access_token: '***',
          token_type: '***',
          id_token:'***',
          scope: '***',
          session_state: '***'
        }`,To make up[oidc

[2020-11-18 01:30] #146 closed

[2020-11-18 01:31] tianqinqin commented on #146
I get access_token through the URL returned by the back end, for example, the return message is{id_token:'***',access_token:'***',token_type:Bearer,expires_in:86400,scope:'***',state:'***',session_state:'**'},I took one of them { access_token: '***', token_type: '***', id_token:'***', scope: '***', session_state: '***' },To make up[oidc.user::],And then put it in cookies, is that right? Is that ho

[2020-11-18 06:18] tianqinqin opened #148 "How do I make a vuex-oidc based on access_Token"
I get access_token through the URL returned by the back end, for example, the return message is{id_token:'',access_token:'',token_type:Bearer,expires_in:86400,scope:'',state:'',session_state:''},I took one of them { access_token: '', token_type: '', id_token:'', scope: '', session_state: '*' },To make up[oidc.user::],And then put it in cookies, is that right? Is that how to implement SSO? If not,

[2020-11-19 02:36] zsanagustin opened #149 "How do i get all values for scope?"
How do i get all values for scope?

[2020-11-25 07:56] #148 closed

[2021-01-14 14:32] zablik commented on #138
+1 on this ability.
I don't this now a can call UserManager.signinRedirect() and UserManager.signoutRedirect()

[2021-01-14 17:39] zablik opened #153 "How to set `access_token` to API client's headers and keep it in actual state after refreshing"
In order to access an API a need to add the current JWT token to API client's default headers.
oidcStore module has an API to get `access_token`, it is `oidcAccessToken` getter.

So my question is how can I call this `oidcAccessToken` getter inside `userLoaded` event callback?
Maybe there is a better place to set this header?
Is there an event to handle access_token change?

Thanks!

[code]

[2021-01-14 17:40] zablik opened #154 "How to set an access_token in header and keep in in current state after refreshing?"
In order to access an API a need to add the current JWT token to API client's default headers.
oidcStore module has an API to get `access_token`, it is `oidcAccessToken` getter.

So my question is how can I call this `oidcAccessToken` getter inside `userLoaded` event callback?
Maybe there is a better place to set this header?
Is there an event to handle access_token change?

Thanks!

[code]

[2021-01-14 17:41] zablik opened #155 "How"
In order to access an API a need to add the current JWT token to API client's default headers.
oidcStore module has an API to get `access_token`, it is `oidcAccessToken` getter.

So my question is how can I call this `oidcAccessToken` getter inside `userLoaded` event callback?
Maybe there is a better place to set this header?
Is there an event to handle access_token change?

Thanks!

[code]

[2021-01-14 17:42] zablik opened #156 "How and where to set `access_token` in axios default headers and keep it in current state"
In order to access an API a need to add the current JWT token to API client's default headers.
oidcStore module has an API to get `access_token`, it is `oidcAccessToken` getter.

So my question is how can I call this `oidcAccessToken` getter inside `userLoaded` event callback?
Maybe there is a better place to set this header?
Is there an event to handle access_token change?

Thanks!

[code]

[2021-01-14 19:31] perarnborg commented on #155
Duplicate of #153

[2021-01-14 19:31] #155 closed

[2021-01-14 19:32] perarnborg commented on #154
Duplicate of #153

[2021-01-14 19:32] #154 closed

[2021-01-14 19:32] perarnborg commented on #156
Duplicate of #153

[2021-01-14 19:32] #156 closed

[2021-01-14 19:36] perarnborg commented on #153
Inside of the userLoaded event listener you do not need to get the access token from the store, since you have it on the user object.
[code]

[2021-01-14 19:41] zablik commented on #153
@perarnborg Thanks! Will this work on silent token refresh?

And sorry for the duplicates. Github sent me 404 on my submit attempts, I thought no issue was created :-)

[2021-01-14 22:13] perarnborg commented on #153
Yes, it should!

No worries!

[2021-01-15 06:58] #153 closed

[2021-01-26 18:18] rainergp commented on #121
@ux-engineer by any chance did you implement that example? It might be very helpful for me. Thanks!

[2021-02-08 10:47] martinussuherman opened #157 "Missing property automaticSilentSignin in VuexOidcClientSettings"
When developing with typescript, I got error when reading VuexOidcClientSettings because the property automaticSilentSignin is missing from definition. I can create PR for this if you want to. It's just a one liner:
```automaticSilentSignin?: boolean```

Regards,

Martinus

[2021-02-08 11:24] perarnborg commented on #157
Ah, good catch! If you open a PR I will merge it and publish.

If you do not I will get around to it in the next few days! :)

[2021-02-08 15:45] martinussuherman commented on #157
@perarnborg I'll make the PR. Thanks.

[2021-02-09 03:15] martinussuherman commented on #157
PR merged, closing this.

[2021-02-09 03:15] #157 closed

[2021-02-09 06:56] perarnborg commented on #157
Now published in v3.10.2

[2021-02-14 19:07] f-w opened #160 "Error missing parameter nonce"
Suppose client runs on `http://localhost:8000`, Idp sends following redirect

[code]
Tried https://github.com/perarnborg/vuex-oidc-example same error.
I know this could be caused by extra restrictions my Idp imposes. But there is no option to either auto-generate nonce or supply one in config.

[2021-02-16 21:51] LennieCodes opened #161 "error=login_required on authenticateOidcSilent is not caught because of ignoreErrors: true block - causing page hang"
Hi,

When I go to my application and my session has expired - an authenticateOidcSilent request is sent by vuex-oidc and a response is returned by my SSO provider: http://localhost:8080/silent-auth#error=login_required

The library does not catch this error because of the following code: (on line 197 of create-store-module.js)
[code]

[code]
If I set ignoreErrors to false here - everything works a

[2021-04-28 09:30] WaldemarEnns opened #163 "How to mock vuexoidc events to test listeners"
Hello there,

I would like to dispatch the event `userLoaded` to test my event listener for that event. How can I do that in jest? I was looking for some help in the code itself but couldn't find anything.

Thanks in advance!

[2021-05-07 00:29] apavelm commented on #161
I remember this discussed here, and not only once. You may try to find other discussion threads here.

[2021-05-07 14:54] glennvdv commented on #16
I'm looking for something similar. Currently this is what i have done:
- user-info endpoint returns the roles of the user.
- roles from user are available on User.profile object
- I created a custom authorizationStore, where i store the users roles on the userLoadedEvent

Now i'm looking to configure the oidc route middleware,so that it checks to roles aswel. Through the use of the meta data.
Do i

[2021-05-08 22:01] Eirmas opened #166 "Add "skipUserInfo" to VuexOidcSigninRedirectOptions typescript"
Please add this:

`export interface VuexOidcSigninRedirectOptions {
  useReplaceToNavigate?: boolean;
  skipUserInfo?: boolean
}
`

[2021-05-20 12:34] jinghun1999 opened #168 "Cannot read property 'dispatch' of undefined at createRouterMiddleware"
[code]

使用的是vue-element-admin框架，弄了半天了也没发现问题所在，就一直报这个错

[2021-06-09 07:44] xukingnie commented on #168
router.beforeEach(async(to, from, next) => {
  return vuexOidcCreateRouterMiddleware(store, 'oidcStore')(to, from, next)
})

[2021-06-12 06:01] perarnborg commented on #147
Hello, I am sorry for this late reply.

I would say that my recommendation for this is to do a silent authentication against the IP, this should get the new claims. In [the example app](https://github.com/perarnborg/vuex-oidc-example/blob/master/src/components/SignedInUser.vue#L18) this is what happens if you click the button that says Reauthenticate silently (a vuex action called `authenticateOid

[2021-06-12 06:22] perarnborg commented on #160
Sorry for this late reply.

Are you using the PKCE flow? I believe oidc-client does not set nonce for PKCE, only for implicit flow. But you should be able to set a nonce by sending it in the authenticate calls as an extraQueryParams option:

`this.authenticateOidc({ options: { extraQueryParams: nonce }}`

See the creator of oidc-client's reply in this issue:
https://github.com/IdentityModel/oidc-c

[2021-06-12 06:24] perarnborg commented on #149
Hello, sorry for this late reply. Could you specify what you mean by scope and all values? I need some context in order to understand what you are asking for?

[2021-06-12 06:37] perarnborg commented on #161
I am sorry for this late resonse!

What version are you using? I believe a fix of this was made by @coolhome that was published in v3.10.1. The fix adds a check if the user has expired in these cases, so this was indeed a bug.

[2021-06-12 06:48] perarnborg commented on #163
Hello, sorry for this late reply.

Most of the events are defined in https://github.com/IdentityModel/oidc-client-js and just passed through by vuex-oidc. So if you want to look in the I would point you there in stead.

I believe a stub of the userLoaded event could look something like this:

[code]

[2021-06-12 11:30] perarnborg commented on #168
@jinghun1999 Do you need any help with this? Or did the comment from @xukingnie  help you?

Unfortunately you need to ask your question in English in order for me to help you out.

[2021-06-12 11:34] perarnborg commented on #166
Thank you for reporting this!

This is added in v3.10.3!

[2021-06-12 11:35] perarnborg commented on #143
Closing this due to no activity.

[2021-06-12 11:35] #143 closed

[2021-06-12 11:36] perarnborg commented on #144
Closing this due to no activity.

[2021-06-12 11:36] #144 closed

[2021-06-12 11:37] perarnborg commented on #142
Closing this due to no activity.

[2021-06-12 11:37] #142 closed

[2021-06-12 11:38] perarnborg commented on #138
Just wanted to state that I am planning to implement this, but I have not found the time for it.

[2021-06-22 19:56] #166 closed

[2021-06-22 19:57] perarnborg commented on #161
Please repoen if you still have a problem with this.

[2021-06-22 19:57] #161 closed

[2021-06-22 20:07] perarnborg commented on #131
Sorry for this late reply. You should be able to set the userStore in `oidc-client` just like if you would use that library directly. You would pass it inside the first settings argument of `vuexOidcCreateStoreModule`

[code]

[2021-06-22 20:08] perarnborg commented on #106
Closing since no activity.

[2021-06-22 20:08] #106 closed

[2021-06-22 20:08] perarnborg commented on #63
Closing since no activity.

[2021-06-22 20:08] #63 closed

[2021-06-22 20:09] #87 closed

[2021-06-22 20:15] perarnborg commented on #126
Closing this since it is now possible to catch errors on silent signins.

[2021-06-22 20:15] #126 closed

[2021-06-24 14:46] tepsukka opened #172 "Wiki update"
Hi,

As there's no way to make a pull request for wikis that I know of, I've forked over the wiki and made some small fixes to it. You can view my changes here: [https://github.com/tepsukka/vuex-oidc-wiki](https://github.com/tepsukka/vuex-oidc-wiki).

I mostly removed some extra whitespace and line breaks. Changed to `vue` syntax on a couple of code blocks,removed one extra `<script>` tag and fixe

[2021-07-01 09:03] perarnborg commented on #172
Thank you for your positive feedback, and for contributing to improve the documentation!

I agree that it would be good to make it easy for the community to contribute to the docs. Let me think on that.

Your changes look great, they are applied to the wiki. I also changed the heading structure slightly since you pointed out that API was an additional top level heading. :)

[2021-07-01 09:03] #172 closed

[2021-07-02 01:49] baboon-king commented on #168
@jinghun1999
I also encountered this problem, "store" is null in some cases.
I did not find the reason, but I did it successfully.
you try ?
[code]

[2021-07-02 02:03] baboon-king commented on #168
this successful！ thanks
[code]

[2021-07-22 10:15] clementdubois opened #173 "Missing userStore in VuexOidcClientSettings type"
I am using typescript and I was trying to store user information in SessionStorage instead of default LocalStorage.

The solution I found is to add userStore setting like this :
[code]

It works well but I have a typescript error because the associated type : VuexOidcClientSettings doesn't contains userStore attributes.

Have I done something wrong or is it just an accidental omission ?

[2021-07-26 13:52] hokkaido opened #174 "silentSignin, problem with public routes"
Hi, I'm having a weird problem where silentSignin / Renew works with non-public routes, but fails with a `context: "authenticateOidcSilent", error: "Frame window timed out"` with public routes, which I debugged after stepping into vuex-oidc source code. The silent renew callback page is called in both scenarios.

[2021-08-22 03:45] xwiggen opened #175 "update oidcSettings through store"
I have a multi language app, the oidc store uses ui_locales = process.env.VUE_APP_I18N_LOCALE.
I want to be able to change the language and therefore access the store.

[2021-08-27 07:42] Elite40 opened #177 "The oidc-client has been archived"
The library [oidc-client ](https://github.com/IdentityModel/oidc-client-js/wiki)which this library depends on, has recently been archived. So it isn't actively maintained anymore

Do you have any specific plans for the future regarding maintenance and continuation of this library?

[2021-08-28 08:45] perarnborg commented on #177
Yes, I saw this a while ago and I have been contemplating on how this package should be moved forward.

It comes as no big surprise, since the creator of oidc-client has been heroically struggling to keep up with incoming issues for some time.

This project is for now actively maintained, I use it myself for a couple of live applications. But since a big portion of the functionality in here comes

[2021-09-03 00:02] TheOriginalStove commented on #177
I personally like the route of creating a new browser client package that you described would be ideal. I would be more than happy to help out in that effort as well as helping with the new vuex package since my team relies on this package quite heavily.

I also saw there was a fork (quite possibly more to be honest) of the original oidc-client to port over to Typescript. It might make sense to po

[2021-10-08 12:01] cziebuhr opened #178 "Checking access_token expiration assumes that token is a JWT"
I really like the approach of this library, but there's one thing which doesn't fit our setup and IMHO also violates RFC6749:

The getter `oidcAccessToken` calls `tokenIsExpired`, which assumes that `access_token` is a JWT. According to https://datatracker.ietf.org/doc/html/rfc6749#section-1.4 `access_token` is "usually opaque to the client". Instead, `user.expired` should be used, which calculate

[2021-10-08 12:01] cziebuhr opened #179 "Checking access_token expiration assumes that token is a JWT"
I really like the approach of this library, but there's one thing which doesn't fit our setup and IMHO also violates RFC6749:

The getter `oidcAccessToken` calls `tokenIsExpired`, which assumes that `access_token` is a JWT. According to https://datatracker.ietf.org/doc/html/rfc6749#section-1.4 `access_token` is "usually opaque to the client". Instead, `user.expired` should be used, which calculate

[2021-10-08 12:02] #178 closed, assigned to nobody

[2021-11-12 07:05] baboon-king opened #180 "Get the latest access_ Token passed  "offline_access""
I didn't find any way in the  ["Actions"](https://github.com/perarnborg/vuex-oidc/wiki#api)

What should I do?

thinks

[2021-12-06 09:16] oznfc commented on #129
@Samtronic  did you solve problem ?I have same issue.

[2021-12-06 13:33] samtronic10 commented on #129
no. I have not investigated further.

[2021-12-08 07:27] Santobert commented on #177
First of all, thanks for this great library. I did some research and found a (from my view) promising fork here:
https://github.com/authts/oidc-client-ts

This may be the fork, @TheOriginalStove mentioned earlier.

[2022-01-13 13:02] adam-kw opened #181 "access_token undefined"
Hi, I have a problem with my custom openid provider it seems that getting access_token from the provider is not working as expected.

My configuration:
`export const oidcSettings = {
    authority: 'https://**********/',
    clientId: '*******',
    redirectUri: 'http://localhost:8080/callback',
    responseType: 'id_token token',
    scope: 'openid profile',
}`

After successful authentication to

[2022-01-14 10:21] #181 closed

[2022-02-09 18:40] alexdeia opened #182 "Disable user profile remove event (unsetOidcAuth)"
Hi. I need to keep profile data in oidcStore.profile  (like firstname, lastname, etc), but removing invokes after accessTokenExpiring event.

I found this row and I tried to disable this:
[code]
https://github.com/perarnborg/vuex-oidc/blob/master/src/store/create-store-module.js#L290

but I guess vuex-oidc doesn't provide that or is it possible? In short, I want to enable/disable this event (for e

[2022-03-22 01:53] dhc-guofe opened #184 "delete"

[2022-04-12 07:55] JohnSimonsen opened #186 "Issues with simultaneous oidc logins (namespaced oidcStores)"
**Scenario:**
We are relying on two different oidc authentications, from two different providers which are relayed back to us from our own ids4 backend. Which means our identity server is the authority for both our oidc settings. Both oidc users needs to be logged in at the same time during our registration process for new users.

**The registration process:**

1.  User logs in with BankId (Authen

[2022-05-27 18:10] perarnborg commented on #186
Hello, sorry for not replying sooner!

Do I understand correctly that you create two separate oidc vuex modules with different namespaces?

It is unchartered territory for me, but I did have the intent to make this possible even though I have not tried it out myself.

Have you seen if you get this error if you only have one oidc module? It is just a hunch, but if you still get the error I suspect

[2022-05-28 05:26] perarnborg commented on #179
Sorry for not replying to this sooner!

You are absolutely right about this! I believe your proposed solution works. I just need to check the workings of oidc-client in a bit more detail.

not sure if this is still interesting for you, but I will publish a fix for this within short!

[2022-05-28 05:27] perarnborg commented on #180
Sorry for not replying sooner! Are you still invested in this @baboon-king ?

Could you please provide more information about what you are trying to do?

[2022-05-28 05:39] perarnborg commented on #182
Sorry for not replying sooner!

I think this I this should only have removed the access token from the store rather than the whole profile - since the event is thrown when the access token expires.

Even if the id token is expired I think you still are allowed to use the information in it as long as it was valid when the client received it. 🧐

I think I will change this soon, let me just look into

[2022-05-29 17:30] baboon-king commented on #180
@perarnborg

haha! long time no see! welcome back.
I don't remember what I wanted to do.
maybe...

It's been too long. I don't need to solve this problem. Thank you for your attention.

Thank you reply

Baboon King

[2022-05-30 13:51] JohnSimonsen commented on #186
Hi, thanks for the reply!

Yes, that is correct, we were using two seperate oidc vuex modules, with different namespaces.
However this is no longer an _urgent_ issue for us, at the moment. As we got the flow we were seeking to a "working as intended" / "working good enough" state, with the exception of the error messages logged in the console.

As I can recall we did not see this behaviour when on

[2022-06-02 03:56] #184 closed

[2022-06-22 09:13] perarnborg commented on #177
Hi again, here is an update from the maintainer. 😄

https://github.com/authts/oidc-client-ts is indeed a good alternative to oidc-client. [mmizutani](https://github.com/mmizutani) has provided a [PR](#187) with a switch of dependency project that I am evaluating to merge. It would break support of the implicit  flow in the next major version bump, community input on this is welcome. Your can voice

[2022-06-30 20:52] #180 closed

[2022-06-30 21:43] perarnborg commented on #179
@cziebuhr This should be fixed in v3.11.0

[2022-06-30 21:45] perarnborg commented on #182
@alexdeia as of v3.11.0 there is a new storeSetting attribute called `removeUserWhenTokensExpire` that is set to true by default. If you set it to false I think you will get the behaviour you want!

[code]

[2022-07-05 14:01] dr-waterstorm opened #192 "Exception on getOidcUser if not logged in"
We've used vuex-oidc for quite some time in our application and it's a really nice library. Thanks a lot for your work!

If a user comes to our application we use `getOidcUser` to check if the user has an "old" login. However, after the last update the application always throws an error when calling `getOidcUser` while not logged in:

[code]

This is cause by:
[code]
https://github.com/perarnborg/

[2022-07-06 08:20] perarnborg commented on #192
Sorry about this, it looks like a mistake. I’m on the road right now, but will fix this by the end of the month. Meanwhile you will have to roll back to v3.10.3 to get rid of this errror.

[2022-07-24 08:22] perarnborg commented on #192
@dr-waterstorm This should be fixed now in v3.11.1

[2022-08-09 13:10] Santobert commented on #177
While I personally still use `vuex-oidc` in a vue2 typescript project and would really appreciate the change in dependencies to a more active backend library, I think a way forward should also take into account that vuex has been officially replaced by pinia and therefore `vuex-oidc` should be made compatible with it.

Thus a rewrite, as mentioned by @perarnborg, might be an easier solution than m

[2022-09-05 02:55] zfy171 opened #193 "oidc 没有自动刷新token"
设置自动刷新token后 自动刷新一次后 第二次不会自动刷新token 同时 第一次刷新后提示 Frame window timed out

[2022-09-09 08:29] perarnborg commented on #177
@manpreet-compro Yes, I will most likely switch the dependency in this project's next major version bump.

My timeplan for that is to start looking and hopefully publish by the end of this month.

[2022-09-14 11:52] apavelm opened #194 "migrating from oidc-client to oidc-client-ts"
Since "oidc-client" is abandoned and not maintained anymore. Also, many analyzers complain of this library and it's dependencies.
I suggest following the recommendation of "oidc-client" library and migrate to "oidc-client-ts" it should be fully compatible.

[2022-09-21 09:34] manpreet-compro commented on #194
@apavelm There is discussion around this on the thread - #177

[2022-10-08 13:13] aessig commented on #16
@glennvdv Very interested in your approach, any chance you have finalised your solution by now?

[2022-11-17 07:13] mediafreakch commented on #177
@perarnborg Is there any way this can be expedited? As I understand there's a PR open which would only require your review and approval (#187).

[2022-11-18 05:21] perarnborg commented on #177
Yes. Unfortunately my initial tests of the PR did not work with the sample implementation. I need to look in to why that was, but unfortunately I am pressed for time due to other engagements.

Help is welcome, if someone else wants to try out the PR to validite that it works as expected!